<div class="boss-blog-featured">
  <div class="container">
    <div class="row">
      <div class="box-heading">
        <h1><i class="fa fa-pencil"></i>Tin tức mới nhất</h1>
      </div>
      <div class="box-content">
        <div class="box-article">
          <div class="article-items odd col-sm-6 col-xs-12" *ngFor="let blog of blogs | async">
            <div class="article_content">
              <div class="image">
                <a [routerLink]="['/blog', blog.slug]"><img src="{{blog.photoUrl}}" alt="{{blog.title}}" width="270" height="200" />
                </a>
              </div>
              <div class="article-detail">
                <div class="article-name"> <a [routerLink]="['/blog', blog.slug]">{{blog.title}}</a> </div>
                <div class="more-info">
                  <small class="time-stamp">
                      {{blog.createdAt | date:'medium'}}
                      <span class="comment-count">|</span>
                      <a [routerLink]="['/blog', blog.slug]">3 Comments</a>
                  </small>
                </div>
                <div class="description">
                  <p *ngIf="blog.description.length > 100">{{blog.description | slice:0:100}}...</p>
                  <p *ngIf="blog.description.length < 100">{{blog.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.article-items -->

          <!-- /.article-items -->

          <!-- /.article-items -->

          <!-- /.article-items -->
        </div>
      </div>
      <!-- /.box-content -->
    </div>
  </div>
</div>
