<div class="container">
  <div class="main">
    <div class="col-md-6 col-md-offset-3">
      <h3>Please Log In</h3>
      <!-- <h3>Please Log In, or <a [routerLink]="['/sign-up']">Sign Up</a></h3> -->

      <!-- <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a (click)="loginByFacebook()" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a (click)="loginByGoogle()" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div> -->

      <form role="form" #formData='ngForm' (ngSubmit)="loginByEmailAndPassword(formData)">
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="inputUsernameEmail" (ngModel)="email" name="email" required>
        </div>
        <div class="form-group">
          <a class="pull-right" href="#">Forgot password?</a>
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" (ngModel)="password" name="password" required>
        </div>
        <button type="submit" [disabled]="!formData.valid" class="btn btn btn-primary">
          Log In
        </button>
      </form>
      <div class="alert alert-warning fade in" role="alert" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert" (click)="closeError()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Warning!</strong> {{error}}
      </div>
    </div>
  </div>
</div>
