<div class="container">
  <div class="main">
    <div class="col-md-8 col-md-offset-2">
      <h3>Add Product</h3>
      <form role="form" #formData='ngForm' (ngSubmit)="createNewProduct(formData)">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" [(ngModel)]="product.title" name="productTitle" required minlength="2" maxlength="23" autofocus>
        </div>
        <div class="form-group">
          <label for="inputName">Photo</label>
          <div class="input-group image-preview">
            <input type="text" class="form-control image-preview-filename" [(ngModel)]="product.photoUrl" name="photo" disabled="disabled" required>
            <!-- don't give a name === doesn't send on POST/GET -->
            <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <div class="btn btn-default image-preview-input" *ngIf="product.photoUrl" (click)="clearImage()">
                        <i class="fa fa-times" aria-hidden="true"></i> Clear
                    </div>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <i *ngIf="!showSpinner" class="fa fa-folder-open" aria-hidden="true"></i>
                        <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" required (change)="detectMainPhoto($event)" name="input-file-preview" />
            <!-- rename it -->
          </div>
          </span>
        </div>
    </div>
    <div class="form-group">
      <label for="inputName">Photos</label>
      <div class="input-group image-preview">
        <input type="text" class="form-control image-preview-filename" [(ngModel)]="photos" name="photos" disabled="disabled" required>
        <!-- don't give a name === doesn't send on POST/GET -->
        <span class="input-group-btn">
                <!-- image-preview-clear button -->
                <div class="btn btn-default image-preview-input" *ngIf="photos" (click)="clearImages()">
                    <i class="fa fa-times" aria-hidden="true"></i> Clear
                </div>
                <!-- image-preview-input -->
                <div class="btn btn-default image-preview-input">
                  <i *ngIf="!loadPhotosSpinner" class="fa fa-folder-open" aria-hidden="true"></i>
                  <i *ngIf="loadPhotosSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                    <span class="image-preview-input-title">Browse</span>
        <input type="file" accept="image/png, image/jpeg, image/gif" multiple required (change)="detectPhotos($event)" name="input-file-preview" />
        <!-- rename it -->
      </div>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPrice">Price</label>
    <input type="number" class="form-control" id="inputPrice" [(ngModel)]="product.price" name="price" required>
  </div>
  <div class="form-group">
    <label for="inputSale">On sale</label>
    <input type="number" class="form-control" id="inputSale" [(ngModel)]="product.sale" name="sale" required>
  </div>
  <div class="form-group" *ngIf="product.sale > 0">
    <label for="inputnewPrice">New Price</label>
    <input type="number" class="form-control" id="inputnewPrice" [(ngModel)]="product.newPrice" name="newPrice" required>
  </div>
  <div class="form-group">
    <label for="inputPrice">Mini Description</label>
    <div [froalaEditor]="options" [(froalaModel)]="product.description"></div>
  </div>
  <div class="form-group">
    <label for="inputPrice">Description</label>
    <div [froalaEditor]="options" [(froalaModel)]="product.fullDescription"></div>
  </div>
  <div class="form-group">
    <label for="inputPrice">Tags</label>
    <tag-input [(ngModel)]="items" name="corn"></tag-input>
  </div>
  <div class="form-group">
    <label>Provider</label>
    <input type="text" class="form-control" [(ngModel)]="product.provider" name="productProvider" required minlength="2" maxlength="23" autofocus>
  </div>
  <div class="form-group">
    <label for="inputPrice">Categories</label>
    <select id="input-limit" class="form-control" #category (change)="selectCategory(category.value)">
      <option value=""></option>
        <option *ngFor="let category of categories | async " value="{{category.id}}">{{category.value}}</option>
          <!-- <option value="6" selected="selected">6</option>
          <option value="12">12</option>
          <option value="24">24</option> -->
      </select>
  </div>
  <form>
    <input type="checkbox" name="vehicle1" [(ngModel)]="product.box"> Box
    <input style="margin-left: 20px" type="checkbox" name="vehicle2" [(ngModel)]="product.kg">Kg
    <input style="margin-left: 20px" type="checkbox" name="vehicle3" [(ngModel)]="product.special">Special
    <input style="margin-left: 20px" type="checkbox" name="vehicle4" [(ngModel)]="product.instock">Instock
  </form>
  <div class="form-group">
    <label for="inputPrice">Star</label>
    <input type="number" class="form-control" id="inputPrice" [(ngModel)]="product.star" name="star" required>

  </div>
  <button type="submit" [disabled]="!formData.valid || showSpinner || loadPhotosSpinner" class="btn btn btn-primary">
        Create new product
        <i *ngIf="submitSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      </button>
  </form>
  <div class="alert alert-warning fade in" role="alert" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Warning!</strong> {{error}}
  </div>
</div>
</div>
</div>
