<div class="header_slider">
  <article class="boss_slider">
    <div class="tp-banner-container">
      <div class="tp-banner tp-banner0">
        <ngx-carousel [inputs]="carouselTile" >

          <ngx-tile NgxCarouselItem *ngFor="let item of carouselTileItems; trackBy: trackById">
            <div style="height: 400px" *ngIf="isloading">
              <i style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw" style="position: absolute;top: 47%;left: 49%;"></i>
            </div>
            <img src="{{item}}" (load)="loading()" alt="Loading..." />
          </ngx-tile>
          <button NgxCarouselPrev #prevButton class='leftRs hide'>&lt;</button>
          <button NgxCarouselNext #nextButton class='rightRs hide'>&gt;</button>

        </ngx-carousel>
        <div class="slideshow_control"></div>
      </div>
    </div>
  </article>
</div>
