<div class="container text-center">
	<h1>Contact Us</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" >
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control">
				</div>
				<div class="form-group">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
					</select>
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control"></textarea>
				</div>
				<div class="form-actions pull-right">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
