<div class="container">
  <div class="col-md-12 text-center">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <a routerLink="/" class="btn btn-primary btn-lg btn-responsive">
            <i class="fa fa-home" aria-hidden="true"></i>
            Take Me Home
          </a>
        <a [routerLink]="['/contact-us']" class="btn btn-default btn-lg btn-responsive">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Contact Us
          </a>
      </div>
    </div>
  </div>
</div>
