<div id="content" class="col-sm-12 col-sm-9">
  <div class="row content-login">
    <div class="col-sm-6">
      <div class="left">
        <h1 class="page-title">Đăng ký tài khoản</h1>
        <p><strong>Đăng ký tài khoản</strong>
        </p>
        <p>Tạo tài khoản thể thanh toán nhanh gọn, cập nhật sản phẩm mới và những thông tin cần thiết</p>
        <a [routerLink]="['/account/register']" class="btn btn-gray">Tiếp tục</a>
      </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 15px">
      <div class="right">
        <h1 class="page-title">Đăng nhập</h1>
        <p><strong>Đăng nhập với : </strong>
        </p>
        <p class="cursor-pointer">
          <i (click)="loginByGoogle()" class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
          <i (click)="loginByFacebook()" class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
        </p>
        <p><strong>Tôi đã có tài khoản</strong>
        </p>
        <form role="form" #formData='ngForm' (ngSubmit)="loginByEmailAndPassword(formData)">
          <div class="form-group">
            <label class="control-label" for="inputUsernameEmail">Địa chỉ e-mail</label>
            <input type="text" class="form-control" id="inputUsernameEmail" (ngModel)="email" name="email" required />
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Mật khẩu </label>
            <a class="forgotten" [routerLink]="['/account/forgot-password']">Quên mật khẩu</a>
            <input type="password" class="form-control" id="inputPassword" (ngModel)="password" name="password" required />
          </div>
          <!-- <input type="submit" [disabled]="!formData.valid" value="Login" class="btn btn-gray" /> -->
          <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn-blue">
            Đăng nhập
            <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </form>

        <div class="alert alert-warning fade in" role="alert" *ngIf="error">
          <button type="button" class="close" data-dismiss="alert" (click)="closeError()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Warning!</strong> {{error}}
        </div>
        <!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->
      </div>
    </div>
  </div>
</div>
