<div class="container">
  <div class="main">
    <div class="col-md-8 col-md-offset-2">
      <h3>Add Blog</h3>
      <form role="form" #formData='ngForm' (ngSubmit)="createNewBlog()">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" [(ngModel)]="blog.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="inputName">Photo</label>
          <div class="input-group image-preview">
            <input type="text" class="form-control image-preview-filename" [(ngModel)]="blog.photoUrl" name="no-idea" disabled="disabled">
            <!-- don't give a name === doesn't send on POST/GET -->
            <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <div class="btn btn-default image-preview-input" *ngIf="blog.photoUrl" (click)="clearImage()">
                        <i class="fa fa-times" aria-hidden="true"></i> Clear
                    </div>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                      <i *ngIf="!showSpinner" class="fa fa-folder-open" aria-hidden="true"></i>
                      <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" (change)="detectFiles($event)" name="input-file-preview" />
            <!-- rename it -->
          </div>
          </span>
        </div>
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea type="text" class="form-control" id="inputDescription" [(ngModel)]="blog.description" name="description" required cols="40" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="inputContent">Content</label>
      <div [froalaEditor]="options" [(froalaModel)]="blog.content"></div>
    </div>
    <div class="form-group">
      <label for="inputPrice">Tags</label>
      <tag-input [(ngModel)]="items" name="corn"></tag-input>
    </div>
    <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn btn-primary">
        Create new blog
        <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      </button>
    </form>
    <div class="alert alert-warning fade in" role="alert" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> {{error}}
    </div>
  </div>
</div>
</div>
