<nav id="top">
  <div class="container">
    <div class="row">
      <div id="left_top_links" class="nav pull-left"> <a><i class="fa fa-phone"></i> <span>HOTLINE: 01638 127 699</span></a> </div>
      <div id="right_top_links" class="nav pull-right">

        <!-- /.bt-language -->

        <!-- /.bt-currency -->
        <ul class="list-inline">
          <li><a href="wishlist.html" id="wishlist-total" title="Wish List (0)"><span><i class="fa fa-heart"></i> Wish List (0)</span></a>
          </li>

          <li class="dropdown"><a title="My Account" class="dropdown-toggle" data-toggle="dropdown">
            <span *ngIf="user"><i class="fa fa-user"></i><a [routerLink]="['/account']">{{user.displayName}}</a></span>
            <span *ngIf="!user"><i class="fa fa-user"></i><a [routerLink]="['/account']">Tài Khoản</a></span>
            <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="user">

              <li>
                <a [routerLink]="['/account']">
                  <p><strong>{{user.displayName}}</strong></p>
                </a>
                <a style="font-size: 10px; text-transform: lowercase;">
                  {{user.email}}
                </a>
                <!-- <p>Register</p> -->
                <p>
                  <img *ngIf="user.photoURL" class="circle img-thumbnail img-box user-photo" width="70" height="70" src="{{user.photoURL}}" alt="User">
                  <a><i *ngIf="!user.photoURL" class="fa fa-user-circle-o fa-4x user-photo" aria-hidden="true"></i></a>
                </p>
              </li>
              <li>
                <a (click)="logout()" style="cursor: pointer"><span>Đăng xuất</span><span><i class="fa fa-user"></i></span></a>
              </li>
            </ul>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="!user">
              <li><a [routerLink]="['/account/register']"><span>Đăng ký</span><span><i class="fa fa-unlock-alt"></i></span></a>
              </li>
              <li>
                <a [routerLink]="['/account/login']"><span>Đăng nhập</span><span><i class="fa fa-user"></i></span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
  </div>
</div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
<app-menu-mobile></app-menu-mobile>
<header>
  <div class="container">
    <div class="row">
      <div id="logo">
        <a [routerLink]="['/']">
          <img src="assets/images/logo.png" width="60%" style="margin-top: -10px;" title="PhuQuy Shop" alt="PhuQuy Shop" class="img-responsive" />

        </a>
        <!-- <a style="position: absolute;
    top: 5px;
    left: 400px;">  <img src="assets/images/wintersale.png" width="30%" class="swingimage" /></a> -->
      </div>
      <app-cart></app-cart>
      <!-- /#cart -->
      <div id="boss-search" class="fourteen columns omega">
        <div class="choose-select">
          <div class="search-form">
            <div id="search" class="input-group">
              <input type="text" name="search" [(ngModel)]="key" (keyup.enter)="search()" (keydown)="liveSearch()" placeholder="Tìm kiếm..." class="form-control input-lg" />
              <span class="input-group-btn">
                                    <button type="button"(click)="search()" class="btn btn-default btn-lg" name="searchbutton"><i class="fa fa-search"></i></button>
                                  </span> </div>
          </div>
        </div>
      </div>
      <!-- /#boss-search -->
    </div>
  </div>
</header>

<div class="boss_header">
  <div class="container">
    <div class="row">
      <div class="menu">
        <!-- Load menu -->
        <div class="menubar">
          <div class="container">
            <div class="bt_mainmenu">
              <div class="row">
                <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                  <ul class="nav navbar-nav">
                    <li class="parent" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                      <a [routerLink]="['/']"><span class="menu-title">Trang chủ</span></a>
                    </li>
                    <li class="parent">
                      <p class="plus visible-xs">+</p> <a routerLink="/lazy"><span class="menu-title">Dịch vụ</span><i class="fa fa-angle-down"></i></a>
                      <div class="dropdown drop-grid-6-6">
                        <div class="menu-row row-col-6">
                          <div class="menu-column row-grid-2">
                            <!-- html-->
                            <div class="staticblock">
                              <a title="Drug" [routerLink]="['/']"><img src="assets/images/logo.png" title="Drug" alt="Drug">
                              </a>
                              <p>VegeShop là dịch vụ cung cấp rau quả sạch và an toàn.</p>
                            </div>
                          </div>
                          <!-- <div class="menu-column row-grid-1">
                            <a href="#" class="parent">Personal Care</a>
                            <ul class="column category">
                              <li class="col-grid-1 "> <a href="#">hair regrowth</a> </li>
                              <li class="col-grid-1 "> <a href="#">ear care</a> </li>
                              <li class="col-grid-1 "> <a href="#">foot care</a> </li>
                              <li class="col-grid-1 "> <a href="#">oral care</a> </li>
                              <li class="col-grid-1 "> <a href="#">sun care</a> </li>
                            </ul>
                          </div>
                          <div class="menu-column row-grid-1">
                            <a href="#" class="parent">Beauty</a>
                            <ul class="column category">
                              <li class="col-grid-1 "> <a href="#">Organic Ingredients</a> </li>
                              <li class="col-grid-1 sub_category"> <a href="#">Healthy Skin<i class="fa fa-angle-right"></i></a>
                                <div class="sub_menu">
                                  <ul>
                                    <li><a href="#_66">fragrance</a>
                                    </li>
                                    <li><a href="#_67">hair care</a>
                                    </li>
                                    <li><a href="#_68">skin care</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="col-grid-1 sub_category"> <a href="#">Diet &amp; Fitness<i class="fa fa-angle-right"></i></a>
                                <div class="sub_menu">
                                  <ul>
                                    <li><a href="#_65">nutritional bars</a>
                                    </li>
                                    <li><a href="#_64">sports nutrition</a>
                                    </li>
                                    <li><a href="#_63">weight loss</a>
                                    </li>
                                    <li><a href="#_62">yoga &amp; pilates</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="col-grid-1 "> <a href="#">international beauty</a> </li>
                              <li class="col-grid-1 "> <a href="#">natural &amp; organic</a> </li>
                            </ul>
                          </div> -->
                          <div class="menu-column row-grid-2">

                          </div>
                        </div>
                      </div>
                    </li>
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['/product']"><span class="menu-title">Sản phẩm</span></a> </li>
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['/blog']"><span class="menu-title">Tin tức </span></a> </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <!-- <li [routerLinkActive]="['active']"> <a [routerLink]="['/cart']"><span class="menu-title">
                        Giỏ hàng  <i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
                    </li> -->
                    <!-- <li [routerLinkActive]="['active']"> <a [routerLink]="['/cart']"><span class="menu-title">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Giỏ hàng</span></a>
                    </li> -->
                  </ul>
                </nav>
                <!-- /.mega-menu -->
              </div>
            </div>
          </div>
        </div>
        <!-- /.menubar -->
      </div>
    </div>
  </div>
</div>

<script src="assets/js/cs.bossthemes.js"></script>
