.navbar {
  margin: 0;
  border: none;
  font-family: 'Nunito', sans-serif;
  color: #666;
}

.navbar a {
  color: #666;
}

li a {
  /*text-transform: uppercase;*/
  font-size: 15px;
}

.navbar a:hover {
  color: #4dbeee;
}

.navbar .navbar-collapse {
  padding: 0;
}

.navbar .nav {
  float: none;
  margin: 0;
}

.navbar .nav>li {
  float: none;
  display: inline-block;
  padding: 0;
}

.navbar .nav>li>a {
  /*font-family: 'Lato', sans-serif;*/
  font-size: 13px;
  line-height: 16px;
  /*text-transform: uppercase;*/
  padding: 17px 20px;
  color: #fff;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
  background: none;
  color: #fff;
}

.navbar .nav>li.dropdown .dropdown-menu {
  background-clip: padding-box;
  background-color: #ffffff;
  border-bottom: 3px solid #4dbeee;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  float: left;
  left: -9999px;
  list-style: outside none none;
  min-width: 160px;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 20px 20px;
  position: absolute;
  text-align: left;
  top: 100%;
  visibility: hidden;
  z-index: 998;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  transform: scale(1, 0.7);
  -webkit-transform: scale(1, 0.7);
  -moz-transform: scale(1, 0.7);
  transition: transform 0.5s ease 0s;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s;
  display: block;
}

.right-to-left .navbar .nav>li.dropdown .dropdown-menu {
  text-align: right;
  left: 9999px;
}

.navbar .nav>li.dropdown:hover .dropdown-menu {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}

.navbar .nav>li .dropdown-menu .dropdown-inner ul li {
  border-bottom: 1px solid #ededed;
  padding: 9px 0;
}

.navbar .nav>li .dropdown-menu .dropdown-inner ul li a, .navbar .nav>li .dropdown-menu .see-all {
  /*text-transform: capitalize;*/
  font-size: 15px;
  line-height: 20px;
}

.navbar .nav>li .dropdown-menu .see-all {
  padding: 9px 0;
  display: block;
}

@media only screen and (max-width: 767px) {
  #menu {
    display: none;
  }
  .bt-mobile .menu_mobile .navbar {
    margin: 0;
    text-align: left;
  }
  .bt-mobile .menu_mobile .navbar .navbar-header {
    display: none;
  }
  .bt-mobile .menu_mobile .navbar .navbar-collapse {
    display: block;
  }
  .bt-mobile .menu_mobile .navbar .nav>li {
    display: block;
  }
  .bt-mobile .menu_mobile .navbar .nav>li+li {
    border-top: 1px solid #444;
  }
  .bt-mobile .menu_mobile .navbar .nav>li>a {
    padding: 20px;
  }
  .navbar .nav>li.dropdown .dropdown-menu {
    width: 100%;
  }
  .dropdown>a>span>a {
    display: none;
  }
}

.menu-title {
  margin-bottom: 0.75em;
  font-size: 17px;
  line-height: 22px;
}

.user-photo {
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

.active {
  background-color: #62ad3e;
}
