<div class="bt-breadcrumb">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-home"></i></a>
        </li>
        <li><a >Giỏ hàng</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <h1>Giỏ hàng &nbsp;({{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}})</h1>
      <form method="post" enctype="multipart/form-data">
        <div class="table-responsive cart-info">
          <table class="table">
            <thead>
              <tr>
                <td class="image" colspan="2">Tên sản phẩm</td>
                <td class="product-price">Giá</td>
                <td class="quantity" >Số lượng</td>
                <td class="total">Tổng cộng</td>
                <td class="remove"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td class="image">
                  <a href="product-detail.html">
                    <img src="{{item.product.photoUrl}}" class="img-thumbnail" alt="{{item.product.title}}" title="{{item.product.title}}">
                  </a>
                </td>
                <td class="name"><a href="product-detail.html">{{item.product.title}}</a>
                  <!-- <br> <small>Color: Pink</small> </td> -->
                  <td class="product-price">{{item.product.price | currency:'VND':'symbol':'.0-3'}}</td>
                  <td class="quantity" *ngIf="item.product.kg">
                    <div class="input-group btn-block" style="max-width: 120px;">
                      <button (click)="addProductToCart(item.product, -0.5)" class="decrease"><i class="fa fa-minus"></i>
                                                </button>
                      <input style="max-width: 50px" id="select-number0" (change)="change(item.product, item.quantity)" step="0.5" type="number" name="{{item.product.title}}" [(ngModel)]="item.quantity" class="form-control">
                      <button (click)="addProductToCart(item.product, 0.5)" class="increase"><i class="fa fa-plus"></i>
                                                </button>
                    </div>
                  </td>
                  <td class="quantity" *ngIf="item.product.box">
                    <div class="input-group btn-block" style="max-width: 120px;">
                      <button (click)="addProductToCart(item.product, -1)" class="decrease"><i class="fa fa-minus"></i>
                                                </button>
                      <input style="max-width: 50px" id="select-number0" (change)="change(item.product, item.quantity)" step="1" type="number" name="{{item.product.title}}" [(ngModel)]="item.quantity" class="form-control">
                      <button (click)="addProductToCart(item.product, 1)" class="increase"><i class="fa fa-plus"></i>
                                                </button>
                    </div>
                  </td>
                  <td class="total">{{(item.product.price * item.quantity) | currency:'VND':'symbol':'.0-3'}}</td>
                  <td class="remove">
                    <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-update"><i class="fa fa-refresh"></i>
                                            </button>
                    <button type="button" data-toggle="tooltip" (click)="deleteProductFromCart(item.product)" title="Remove" class="btn btn-remove"><i class="fa fa-times"></i>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <h2>Bạn muốn mua sản phẩm nào tiếp theo?</h2>
      <p>Chọn nếu bạn có code giảm giá .</p>
      <div class="panel-group cart-module" id="accordion">
        <div class="panel panel-default col-sm-4 col-xs-12">
          <div class="panel-heading">
            <h4 class="panel-title">Sử dụng phiếu giảm giá</h4>
          </div>
          <div id="coupon" class="">
            <div class="panel-body">
              <label class="control-label" for="input-coupon">Nhập mã giảm giá</label>
              <div class="input-group">
                <input type="text" name="coupon" value="" placeholder="Nhập mã giảm giá ở đây" id="input-coupon" class="form-control">
                <span class="input-group-btn">
                                            <input disabled type="button" value="Áp dụng" id="button-coupon" data-loading-text="Loading..." class="btn btn-gray">
                                        </span>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default col-sm-4 col-xs-12">
          <div class="panel-heading">
            <h4 class="panel-title">Sử dụng phiếu quà tặng</h4>
          </div>
          <div id="voucher" class="">
            <div class="panel-body">
              <label class="control-label" for="input-voucher">Nhập mã để nhận quà</label>
              <div class="input-group">
                <input type="text" name="voucher" value="" placeholder="Nhập mã để nhận quà ở đây" id="input-voucher" class="form-control">
                <span class="input-group-btn">
                                            <input disabled type="submit" value="Áp dụng" id="button-voucher" data-loading-text="Loading..." class="btn btn-gray">
                                        </span>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default col-sm-4 col-xs-12">
          <div class="panel-heading">
            <h4 class="panel-title">Tổng cộng chi phí trước &amp; sau thuế</h4>
          </div>
          <div id="shipping" class="">
            <div class="panel-body">
              <form class="form-horizontal" role="form" #formData='ngForm'>
                <div class="required">
                  <label class="control-label" for="input-postcode">Tên khách hàng</label>
                  <input type="text" name="name" value="" [(ngModel)]="orderItem.user" placeholder="Tên khách hàng" id="input-name" class="form-control" required>
                </div>
                <div class="required">
                  <label class="control-label" for="input-postcode">Email</label>
                  <input type="email" name="email" value="" [(ngModel)]="orderItem.email" placeholder="Email" id="input-name" class="form-control" required>
                </div>
                <div class="required">
                  <label class="control-label" for="input-country">Tòa nhà</label>
                  <select name="country_id" id="input-country" class="form-control" [(ngModel)]="orderItem.ward" required>
                                                <option value=""> --- Chọn Tòa Nhà --- </option>
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="B3">B3</option>
                                                <option value="B4">B4</option>
                                                <option value="B5">B5</option>
                                                <option value="BA1">BA1</option>
                                                <option value="BA2">BA2</option>
                                                <option value="BA3">BA3</option>
                                                <option value="BA4">BA4</option>
                                                <option value="BA5">BA5</option>
                                                <option value="C1">C1</option>
                                                <option value="C2">C2</option>
                                                <option value="C3">C3</option>
                                                <option value="C4">C4</option>
                                                <option value="C5">C5</option>
                                                <option value="C6">C6</option>
                                                <option value="D2">D2</option>
                                                <option value="D3">D3</option>
                                                <option value="D4">D4</option>
                                                <option value="D5">D5</option>
                                                <option value="D6">D6</option>
                                                <option value="E1">E1</option>
                                            </select>
                </div>
                <div class="required">
                  <label class="control-label" for="input-country">Phòng</label>
                  <input type="text" name="room" value="" placeholder="Số Phòng" [(ngModel)]="orderItem.address" id="input-room" class="form-control" required>
                </div>
                <div class="required">
                  <label class="control-label" for="input-phone">Số điện thoại</label>
                  <input type="text" name="phone" value="" placeholder="Số Phòng" [(ngModel)]="orderItem.phone" id="input-phone" class="form-control" required>
                </div>
                <!-- <input type="button" value="Get Quotes" (click)="sendEmail()" id="button-quote" data-loading-text="Loading..." class="btn btn-gray"> -->
              </form>
            </div>
          </div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.panel-group -->
      <div class="cart-total">
        <table>
          <tbody>
            <tr>
              <td class="left">Chi phí:</td>
              <td class="right">{{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}}</td>
            </tr>
            <!-- <tr>
              <td class="left">Eco Tax (-2.00):</td>
              <td class="right">$4.00</td>
            </tr> -->
            <tr>
              <td class="left">VAT (20%):</td>
              <td class="right">0.00</td>
            </tr>
            <tr>
              <td class="left">Tổng cộng:</td>
              <td class="right">{{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.cart-total -->
      <div class="buttons">
        <button title="Quick Shop" style="display: none" #modalButton data-toggle="modal" data-target="#checkOut">Xem nhanh</button>
        <div class="pull-left"><a [routerLink]="['/']" class="btn btn-gray">Tiếp tục mua hàng</a>
        </div>
        <div class="pull-right"><button (click)="order()" [disabled]="!formData.valid || showSpinner" class="btn btn-blue">Đặt hàng<i class="fa fa-shopping-cart"></i><i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
        </div>
      </div>
    </div>
    <!-- /#content -->
  </div>
  <!-- /.row -->
</div>
