span.thumbnail {
  border: 1px solid #e7e7e7 !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
  padding: 10px;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .col-md-3 {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    min-height: 160px;
    height: auto;
    max-height: 160px;
    width: 100%;
  }
}

.price {
  font-size: 30px;
  margin: 0 auto;
  color: #333;
}

.thumbnail {
  opacity: 0.90;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.thumbnail:hover {
  opacity: 1.00;
  box-shadow: 0px 0px 10px #e7e7e7;
}

.fixed-bottom .col-sm-6 {
  width: 50%;
}

.fixed-bottom {
  display: inline-flex;
}
