<div class="container">
	<h4>Sản Phẩm Mới</h4>
	<div class="row">

		<!-- BEGIN PRODUCTS -->
		<div class="col-md-3 col-sm-6" *ngFor="let item of products | async">
			<span class="thumbnail">
						<img *ngIf="item.photoUrl" src="{{item.photoUrl}}" alt="...">
						<i class="fa fa-file-image-o fa-5 img-responsive img-box img-thumbnail" *ngIf="!item.photoUrl" aria-hidden="true"></i>
						<h4 *ngIf="item.title.length > 25">{{item.title | slice:0:25}}...</h4>
						<h4 *ngIf="item.title.length < 25">{{item.title}}</h4>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
		</div>
		<p *ngIf="item.description.length > 70">{{item.description | slice:0:70}}...</p>
		<p *ngIf="item.description.length < 70">{{item.description}}</p>
		<hr class="line">
		<div class="row fixed-bottom">
			<div class="col-md-6 col-sm-6">
				<p class="price">{{item.price|currency:'VND':true}}</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<a target="_blank">	<button class="btn btn-info right" > BUY ITEM</button></a>
			</div>

		</div>
		</span>
		</div>
	</div>
</div>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
