<div class="container">
	<div class="row">
		<div id="column-left" class="col-sm-3 hidden-xs">
			<!-- /.bt-box -->
			<app-smaill-product [items]="small_items" [title]="title_best_product"></app-smaill-product>
			<div class="clearfix"></div>

			<div class="bt-staticblock-college">
				<a href="#"><img src="assets/images/banner/banner_home_left1.jpg" title="banner" alt="banner">
				</a>
				<div class="text-info"> <span class="small-text text-1">Bạn muốn tiết kiệm?</span>
					<span class="large-text">Giảm giá 15%</span>
					<span class="small-text text-2">Có nhiều sự lựa chọn cho bạn</span>
					<a [routerLink]="['/product']" class="btn-shopnow">Mua ngay</a> </div>
			</div>
			<!-- /.bt-staticblock-college -->
			<!--module boss - fillter product-->
			<app-product-slider [title]="today_deals_title" [class]="today_deals_class" [products]="organic_goods" [minSize]="1" [maxSize]="1" [quickView]="quickView"></app-product-slider>


			<!-- /.boss-filter-container -->
			<div class="image-list">
				<div class="bt-staticblock-babyneeds"  >
					<a href="#"><img src="assets/images/banner/banner_home_left3.jpg" title="banner" alt="banner">
					</a>
					<div class="text-info"> <span class="small-text">25 Products</span> <span class="large-text">Baby Needs</span> <a [routerLink]="['/product']"class="btn-shopnow">Mua ngay</a> </div>
				</div>
				<!-- /.bt-staticblock-babyneeds -->
				<div class="bt-staticblock-diet" >
					<a href="#"><img src="assets/images/banner/banner_home_left2.jpg" title="banner" alt="banner">
					</a>
					<div class="text-info"> <span class="small-text">07 Products</span> <span class="large-text">Diet &amp; Fitness</span> <a [routerLink]="['/product']" class="btn-shopnow">Mua ngay</a> </div>
				</div>
			</div>

			<!-- /.bt-staticblock-diet -->
		</div>
		<!-- /#column-left -->
		<div id="content" class="col-sm-9">

			<!-- /.bt-staticblock-shopnow -->
			<app-product-slider [title]="organic_goods_title" [class]="organic_goods_class" [quickView]="quickView"
			[products]="organic_goods" [minSize]="1" [maxSize]="3" [logo]="organic_goods_logo"></app-product-slider>

			<!-- /.bt-featured-pro -->
			<app-product-slider [title]="organic_n_natural_title" [class]="organic_n_natural_class" [quickView]="quickView"
			[products]="special_vegestable" [minSize]="1" [maxSize]="3" [logo]="organic_n_natural_logo"></app-product-slider>

			<!-- /.bt-featured-pro -->
			<div class="bt-statickblock-learmore">
				<div class="bt-banner-title">
					<h2>VegeShop. Hãy tin vào chúng tôi.</h2>
					<p>Phân phát, giao hàng tận nơi những sản phẩm tươi ngon <a [routerLink]="['/product']">Mua ngay</a>
					</p>
				</div>
				<div class="bt-banner-image" >
					<div style="text-align: -webkit-right;border: 1px solid #d7d7d7;">
						<img src="assets/images/banner/banner.jpg" alt="banner">
					</div>
				</div>
			</div>
			<!-- /.bt-statickblock-learmore -->
			<app-product-slider [title]="organic_vegetables_title" [class]="organic_vegetables_class" [quickView]="quickView"
			[products]="on_sale_products" [minSize]="1" [maxSize]="3" [logo]="organic_vegetables_logo"></app-product-slider>

			<!-- /.bt-featured-pro -->
			<div class="bt-service">
				<div class="box-heading title">
					<h1> <i class="fa fa-star"></i> Dịch vụ</h1> </div>
				<div class="box-content">
					<div class="row">
						<div class="bt-service-items col-sm-4 col-xs-12">
							<div class="bt-service-content"> <a class="bt-service-icon"><i class="fa fa-paper-plane-o"></i></a>
								<h2>NHANH &amp; TIỆN LỢI </h2>
								<p>Giao hành, thanh toán nhanh tiện lợi đến tận nơi vào các buổi ăn trong ngày.</p> <a class="btn" disabled="disabled">Chi tiết</a> </div>
						</div>
						<div class="bt-service-items col-sm-4 col-xs-12">
							<div class="bt-service-content"> <a class="bt-service-icon"><i class="fa fa-thumbs-o-up"></i></a>
								<h2>CHẤT LƯỢNG CAO</h2>
								<p>Tất cả các sản phẩm đề được lựa chọn cẩn thận tại các hệ thống siêu thị.</p> <a class="btn" disabled="disabled">Chi tiết</a> </div>
						</div>
						<div class="bt-service-items col-sm-4 col-xs-12">
							<div class="bt-service-content"> <a class="bt-service-icon"><i class="fa fa-usd"></i></a>
								<h2>100% HOÀN TIỀN</h2>
								<p>Hoàn 100% tiền nếu dịch vụ không tốt hoặc chất lượng rau quả không đạt yêu cầu.</p> <a class="btn" disabled="disabled">Chi tiết</a> </div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.bt-service -->
		</div>
		<!-- /#content -->
	</div>
</div>
