<div class="header_category">
  <div id="boss-menu-category" class="box">
    <div class="boss_heading">
      <div class="box-heading">
        <h1>Danh sách</h1>
      </div>
    </div>
    <div class="box-content">
      <ul class="box-category boss-menu-cate">
        <li >
          <div class="nav_title">
            <i class="fa fa-envira" aria-hidden="true"></i>
            <i style="margin-left: -11px;" class="fa fa-leaf" aria-hidden="true"></i>
            <a [routerLink]="['/product/category', cachua]" class="title" >Cà chua</a>
          </div>
        </li>
        <li >
          <div class="nav_title">
            <i class="fa fa-envira" aria-hidden="true"></i>
            <i style="margin-left: -11px;" class="fa fa-leaf" aria-hidden="true"></i>
            <a [routerLink]="['/product/category', bapcai]" class="title" >Bắp cải</a>
          </div>
        </li>
        <li >
          <div class="nav_title">
            <i class="fa fa-envira" aria-hidden="true"></i>
            <i style="margin-left: -11px;" class="fa fa-leaf" aria-hidden="true"></i>
            <a [routerLink]="['/product/category', dau]" class="title" >Đậu</a>
          </div>
        </li>
        <li >
          <div class="nav_title">
            <i class="fa fa-envira" aria-hidden="true"></i>
            <i style="margin-left: -11px;" class="fa fa-leaf" aria-hidden="true"></i>
            <a [routerLink]="['/product/category', khac]" class="title" >Khác</a>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.box-content -->
  </div>
</div>
