.box-special {
  margin-bottom: 15px;
}

.title {
  margin-top: 5px;
}

.caption {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rating {
    text-align: center;
    float: none !important;
  }

  .price {
    text-align: center;
    float: none !important;
  }
}
