<div class="bt-box box-special" *ngIf="today_deal">
  <div class="box-heading title">
    <h1>Sản phẩm hôm nay</h1>
  </div>
  <div class="box-content">
    <div class="caroufredsel_wrapper">
      <div class="list-product">
        <div class="item product-thumb">
          <div class="image">
            <!-- <a routerLink="/product" > -->
            <a [routerLink]="['/product', today_deal.id]">
              <img style="max-height: 280px;min-height: 280px;" src="{{today_deal.photoUrl}}" alt="nexafed " title="nexafed " class="img-responsive">
            </a>
            <div class="label-discount"> <span>{{today_deal.sale}}%</span> </div>
          </div>
          <div class="caption">
            <div class="name"><a title="nexafed " [routerLink]="['/product', today_deal.id]">{{today_deal.title}}</a>
            </div>
            <div class="rating">
              <span class="fa fa-stack"><i *ngIf="today_deal.star > 0" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i *ngIf="today_deal.star > 1" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i *ngIf="today_deal.star > 2" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i *ngIf="today_deal.star > 3" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              <span class="fa fa-stack"><i *ngIf="today_deal.star > 4" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            </div>
            <!-- <p class="price">{{today_deal.price|currency:'VND':'symbol':'.0-3'}}</p> -->
            <p class="price">
              <span class="price-old">{{today_deal.price|currency:'VND':'symbol':'.0-3'}}</span>
              <span class="price-new">{{today_deal.price|currency:'VND':'symbol':'.0-3'}}</span>
            </p>
            <app-add-cart-button [product]="today_deal"></app-add-cart-button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-content -->
  </div>
</div>
