<div class="container" *ngIf="order">
  <h2>Đơn hàng của {{order.user}}</h2>
  <p>Kiểm tra và giao đúng hạn:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Địa chỉ</th>
        <th>Giờ đặt hàng</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Tòa nhà</th>
        <th>Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{order.user}}</td>
        <td>{{order.address}}</td>
        <td>{{order.createdAt | date:'medium'}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.email}}</td>
        <td>{{order.ward}}</td>
        <td>{{order.description}}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <h2>Chi tiết sản phẩm</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Giảm giá (%)</th>
        <th>Loại</th>
        <th>Tình trạng</th>
        <th>Ngày tạo</th>
        <th>Người đăng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of order.cart; let i = index">
        <td>{{cart.product.title}}</td>
        <td>{{cart.product.price}}</td>
        <td>{{cart.product.sale}} %</td>
        <td *ngIf="cart.product.kg">Kg</td>
        <td *ngIf="cart.product.box">Hộp</td>
        <td *ngIf="cart.product.instock">Còn Hàng</td>
        <td *ngIf="!cart.product.instock">Hết hàng</td>
        <td>{{cart.product.createdAt | date:'medium'}}</td>
        <td>{{cart.product.author}}</td>
      </tr>
    </tbody>
  </table>
  <br />


  <h2 style="text-align: right">Tổng cộng {{order.total}}   <button *ngIf="!order.done" (click)="update()" type="button" class="btn btn-success">Hoàn thành đơn đặt hàng</button><button *ngIf="order.done" type="button" class="btn btn-danger">Đã giao hàng</button></h2>
</div>
