.footer {
  margin-top: 15px;
  /*background-color: #eee;*/
  border-radius: 6px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.adress span, .contact span, .social span {
  color: #675f5f;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

.adress li p, .contact li a, .social li a {
  color: #675f5f;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 12px;
}

.adress, .contact, .social {
  list-style: none;
}

@media (max-width: 768px) {
  .adress, .contact, .social {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
}

.social li {
  display: inline;
}

.fa {
  color: #9c9c9c;
  margin-right: 10px;
  font-size: 14px;
}

.logo {
  background: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
}
