<div id="bt_footer" class="">
  <footer>
    <div class="bt-footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="bt-block-footer col-sm-4 col-xs-12">
              <div class="col-xs-12">
                <div class="box-heading">
                  <h3>VegaShop</h3>
                </div>

                <p>Shop được mở bởi sinh viên công nghệ thông tin.<span class="bold-italic"> Chuyên bán sản phẩm rau quả phục vụ nhu cầu thiết yếu của mọi người.</span>
                  Rất nhiều sinh viên cũng như mình có chế độ ăn uống cực kỳ thiếu khoa học và thiếu rau quả trong bữa chính.
                  Hi vọng dịch vụ nho nhỏ này có thể giúp các bạn có chế độ ăn phù hợp và có được sức khỏe tốt.</p>
                <div class="footer-contact">
                  <ul>
                    <li><i class="fa fa-map-marker"></i> <span> &nbsp;B4, Ký túc xá Đại học quốc gia, tp HCM.</span>
                    </li>
                    <li><i class="fa fa-phone"></i> <span> 01638 127 699</span>
                    </li>
                    <li><i class="fa fa-envelope-o"></i> <span><a >phuquy.uit@gmail.com</a></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4 col-xs-12">
              <!--Load modules in position footer middle-->
              <div class="bt-contact-me">
                <div class="box-heading">
                  <h3>Liên hệ nhanh</h3>
                </div>
                <div class="box-content">
                  <form id="contact" class="frm_contact" role="form" #formData='ngForm' (ngSubmit)="submitContact()" enctype="multipart/form-data">
                    <div class="input-name">
                      <input class="form-control " size="25" type="text" [(ngModel)]="contact.name"  placeholder="Tên của bạn" name="contact_name" id="contact_name" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue" />                        </div>
                    <div class="input-email">
                      <input class="form-control" size="25" type="text" [(ngModel)]="contact.email" placeholder="Email" name="contact_mail" id="contact_mail" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue">                        </div>
                    <div class="input-message">
                      <textarea class="form-control" name="contact_msg" placeholder="Nội dung" [(ngModel)]="contact.message" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="b_button_contact">Gửi
                      <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                    </button>
                    <div id="contact_result"></div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4 col-xs-12">
              <!--Load modules in position footer newsletter-->
              <div class="bt-newsletter">
                <div class="footer-newsletter">
                  <div class="title">
                    <h3>Đăng ký đăng tin trên hệ thống</h3>
                    <p>Nhập email của bạn nếu bạn muốn đăng tin tức hoặc bán sản phẩm trên hệ thông của chúng tôi. Chúng tôi sẽ liên lạc để thực hiện </p>

                  </div>
                  <div>
                    <div class="newsletter-content">
                      <div id="frm_subscribe">
                        <form name="subscribe" id="subscribe">
                          <table>
                            <tr>
                              <td>
                                <div class="boss-newsletter">
                                  <input class="form-control input-new" size="50" type="text" [(ngModel)]="emailContact.email" placeholder="Nhập Email hoặc số điện thoại ở đây" name="subscribe_email" id="subscribe_email"> <a (click)="submitEmail()" class="btn btn-new"><i class="fa fa-paper-plane"></i></a>
                                </div>
                              </td>
                            </tr>
                            <tr style="display:none;">
                              <td>
                                <input class="form-control input-new" size="50" type="text" value="Enter your email address here" name="subscribe_name" id="subscribe_name">
                              </td>
                            </tr>
                            <tr>
                              <td id="subscribe_result"></td>
                            </tr>
                          </table>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="footer-social col-xs-4">
              <h3>Theo dõi</h3>
              <ul>
                <li><a class="facebook" target="_blank" href="https://www.facebook.com/phuquy.nguyen.54" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="pinterest" href="https://www.pinterest.com/" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                </li>
                <li><a class="twitter" href="https://twitter.com/" title="Twiter"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a class="google" href="https://plus.google.com/" title="Google plus"><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a class="rss" href="https://www.rss.com/" title="RSS"><i class="fa fa-rss"></i></a>
                </li>
                <li><a class="youtube" href="https://www.youtube.com/" title="YouTube"><i class="fa fa-youtube"></i></a>
                </li>
              </ul>
            </div>
            <!-- /.col-sm-4 -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.bt-footer-middle -->
    <div class="bt-footer-bottom">
      <div class="container">
        <div class="row">
          <!-- <div class="link">
            <ul class="list-unstyled">
              <li><a href="contact.html">Contact Us</a></li>
              <li><a >Site Map</a></li>
              <li><a >Brands</a></li>
              <li><a>Affiliates</a></li>
              <li><a >Specials</a></li>
              <li><a >Newsletter</a></li>
            </ul>
          </div> -->
          <div class="powered-payment">
            <div class="row">
              <div class="powered col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="powered">
                  <p>© 2017 Vegestable Store. Gọi số <strong>01638 127 699</strong> để biết thêm thông tin nếu bạn muốn xây dựng hệ thống bán hàng online.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.powered-payment -->
        </div>
      </div>
    </div>
    <!-- /.bt-footer-bottom -->
  </footer>
</div>
<!-- /#bt_footer -->
