<div class="button-group">
  <button *ngIf="!added" class="btn-cart" (click)="addCart(product)" type="button" [disabled]="productInCart(product) | async">
    Thêm vào giỏ
  </button>
  <!-- <div class="wishlist-compare">
    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                </button>
    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                </button>
  </div> -->
</div>
