<div *ngIf="showSpinner" class="sk-chasing-dots" style="margin-top: 20%; margin-left: 50%">
  <div class="sk-child sk-dot1"></div>
  <div class="sk-child sk-dot2"></div>
</div>
<div class="container" *ngIf="notFound">
    <div class="jumbotron" style="background-color: transparent;">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> Có vẻ như không thấy sản phẩm nào </small></p></h1>
        <p class="text-center">Nhấn vào nút bên dưới để quay lại .</p>
        <p class="text-center"><a class="btn btn-primary" routerLink="/product"><i class="fa fa-home"></i> Quay về</a></p>
    </div>
</div>

<div id="content" class="col-sm-9" *ngIf="product">
  <div class="product-info">
    <div class="row">
      <div class="col-sm-8" style="margin-bottom: 15px;">
        <div class="bt-product-zoom">
          <div class="bosszoomtoolbox boss-additional">
            <div itemprop="image" class="image">
              <div id="wrap" style="top:0px;z-index:100;position:relative;">
                <a title="{{product.title}}" class="cloud-zoom" id="zoom1" rel="" style="position: relative; display: block;">
                  <i *ngIf="isloading" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw" style="position: absolute;top: 47%;left: 49%;"></i>
                  <img src="{{currentImage}}" (load)="loading()" title="Loading..." alt="PhuQuy" class="img-responsive image-detail" id="image" style="display: block;vertical-align: middle; height: 100%; margin: 0 auto;">
                </a>
              </div>
            </div>
          </div>
          <!-- /.bosszoomtoolbox -->
        </div>
        <app-product-image-slider [items]="product.photos" (loadImage)="selectImage($event)"></app-product-image-slider>
        <!-- /.bt-product-zoom -->
      </div>
      <div class="col-sm-4">
        <h2 class="margin-top-100">{{product.title}}</h2>
        <div class="review">
          <div class="rating">
            <span class="fa fa-stack"><i *ngIf="product.star > 0" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            <span class="fa fa-stack"><i *ngIf="product.star > 1" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            <span class="fa fa-stack"><i *ngIf="product.star > 2" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            <span class="fa fa-stack"><i *ngIf="product.star > 3" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            <span class="fa fa-stack"><i *ngIf="product.star > 4" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          </div>
          <br/>

          <div class="review_text"> <a>{{comments.length}} bình luận</a> <a> Viết bình luận</a> </div>
        </div>
        <!-- /.review -->
        <div class="description">
          <h3>Thông tin</h3>
          <ul class="list-unstyled">
            <li>- Nguồn: <a>{{product.provider}}</a>
            </li>
            <li *ngIf="product.kg">- Đơn vị tính: 1kg</li>
            <li *ngIf="product.box">- Đơn vị tính: 1 hộp 300g</li>
            <li>- Tình trạng:<b *ngIf="product.instock" class="stock"> Còn hàng</b><b *ngIf="!product.instock" class="stock"> Hết hàng</b>
            </li>
          </ul>
        </div>
        <!-- /.description -->
        <div class="price_info">
          <span class="price">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>
          <br><br /> <span class="price-tax">Sau thuế: {{product.price|currency:'VND':'symbol':'.0-3'}}</span>
          <br>
        </div>
        <!-- /.price_info -->
        <div id="product" class="options">
          <h3>Lựa chọn</h3>
          <div class="cart">
            <div class="quantily_info">
              <div class="title_text"><span>Số lượng</span>
              </div>
              <div class="select_number">
                <input type="text" disabled name="quantity" value="1" size="2" id="input-quantity" class="form-control">
                <button disabled onclick="changeQty(1); return false;" class="increase"><i class="fa fa-angle-up"></i>
                                                </button>
                <button disabled onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-angle-down"></i>
                                                </button>
              </div>
              <input type="hidden" name="product_id" size="2" value="32"> </div>
            <app-add-cart-button [product]="product"></app-add-cart-button>
          </div>
        </div>
        <!-- /.options -->
      </div>
    </div>
  </div>
  <!-- /.product-info -->
  <div id="tabs" class="htabs">
    <ul>
      <li class="active"><a href="#tab_description" data-toggle="tab">Mô tả</a>
      </li>
      <li><a href="#tab_review" data-toggle="tab">Bình luận ({{comments.length}})</a>
      </li>
    </ul>
  </div>
  <!-- /.htabs -->
  <div class="tab-content">

    <div class="tab-pane active" id="tab_description">
      <div [innerHTML]="product.description"></div>
      <div [innerHTML]="product.fullDescription"></div>

    </div>
    <!-- /.tab-pane -->
    <div class="review-product tab-pane" id="tab_review">
      <div class="review-heading">
        <h1>Nhận xét ({{comments.length}})</h1>
      </div>
      <div id="bt_review">
        <form class="form-horizontal" id="form-review">
          <div id="review">
            <div class="box-review" *ngFor="let comment of comments | paginate: config">
              <p>{{comment.comment}}</p>
              <p class="author">by <span>{{comment.user}}</span>{{comment.createdAt | date:'medium'}}</p>
            </div>
            <!-- <div class="box-review">
              <p>Holy night away supper standar natural ensua xitua las is very navar.</p>
              <p class="author">by <span>Admin</span> 09/01/2015</p>
            </div> -->
            <div class="text-right"></div>
          </div>
          <app-pagination [config]="config" [isTop]="bottom"></app-pagination>
          <h1>Viết nhận xét</h1>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-name"><b>Tên bạn</b>
                                            </label>
              <input type="text" name="name" placeholder="Tên" [(ngModel)]="comment.user" id="input-name" class="form-control"> </div>
          </div>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-review"><b>Nhận xét</b>
                                            </label>
              <textarea name="text" rows="5" placeholder="Nhận xét" [(ngModel)]="comment.comment" id="input-review" class="form-control"></textarea>
              <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
            </div>
          </div>
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label"><b>Xếp hạng</b>
              </label> &nbsp;&nbsp;&nbsp; Không tốt&nbsp;
              <input type="radio" name="rating" value="1"> &nbsp;
              <input type="radio" name="rating" value="2"> &nbsp;
              <input type="radio" name="rating" value="3"> &nbsp;
              <input type="radio" name="rating" value="4"> &nbsp;
              <input type="radio" name="rating" value="5"> &nbsp;Tốt</div>
          </div>
          <div class="buttons">
            <div class="pull-left">
              <button type="button" id="button-review" (click)="createComment()" data-loading-text="Loading..." class="btn btn-primary">Gửi</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /.tab-pane -->
  </div>

  <app-blog-slider [blogs]="relatedProducts" [isBlog]="false" [title]="getTitle()"></app-blog-slider>
  <!-- /.product-related -->
</div>
