<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Đơn hàng
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">#</th><th class="col-xs-2">Name</th><th class="col-xs-4">Create At</th><th class="col-xs-4">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders | async; let i = index" [routerLink]="['/order-detail', order.id]" style="cursor:pointer">
              <td class="col-xs-2">{{i + 1}}</td><td class="col-xs-2">{{order.user}}</td><td class="col-xs-4">{{order.createdAt | date:'medium'}}</td><td class="col-xs-4">{{order.address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Liên hệ
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">#</th><th class="col-xs-2">Type</th><th class="col-xs-4">Create At</th><th class="col-xs-4">Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts | async; let i = index" style="cursor:pointer">
              <td class="col-xs-2">{{i + 1}}</td><td class="col-xs-2">{{contact.name}}</td><td class="col-xs-4">{{contact.createdAt | date:'medium'}}</td><td class="col-xs-4">{{contact.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
