<div id="cart" class="btn-group btn-block">
  <button type="button" id="dlDropDown" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle">
    <i class="fa fa-shopping-cart"></i>
    <span id="cart-total">{{itemCount}} Sản Phẩm - {{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}}</span>
  </button>
  <ul id="cart-detail" class="dropdown-menu pull-right">
    <li>
      <table class="table table-striped" *ngFor="let item of cartItems">
        <tr>
          <td class="text-left image">
            <div class="image">
              <a [routerLink]="['/product', item.product.id]">
                <img src="{{item.product.photoUrl}}" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-thumbnail" />
              </a>
              <div class="remove">
                <button type="button" (click)="removeProductFromCart(item.product)" title="Remove" class="btn-danger"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="text-left name">
            <a [routerLink]="['/product', item.product.id]">{{item.product.title}}</a>
            <div>{{item.quantity}} x <span class="price">{{item.product.price | currency:'VND':'symbol':'.0-3'}}</span>
            </div>
          </td>
        </tr>
      </table>
    </li>
    <li>
      <div class="cart_bottom">
        <table class="minicart_total">
          <tr>
            <td class="text-left"><span>Chi phí</span>
            </td>
            <td class="text-right">{{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}}</td>
          </tr>
          <!-- <tr>
            <td class="text-left"><span>Eco Tax (-2.00)</span>
            </td>
            <td class="text-right">$4.00</td>
          </tr> -->
          <tr>
            <td class="text-left"><span>VAT (0%)</span>
            </td>
            <td class="text-right">{{0000| currency:'VND':'symbol':'.0-3'}}</td>
          </tr>
          <tr>
            <td class="text-left"><span>Tổng cộng</span>
            </td>
            <td class="text-right">{{(cart | async).grossTotal | currency:'VND':'symbol':'.0-3'}}</td>
          </tr>
        </table>
        <div class="buttons" >
          <span style="float:right" class="checkout_bt"><a class="btn btn-shopping" [routerLink]="['/cart']">Kiểm tra giỏ hàng</a></span>
        </div>
      </div>
    </li>
  </ul>
</div>
