.standard-product {
  max-height: 280px;
  min-height: 280px;
}

@media only screen and (min-width: 767px) {
  .rating {
    float: right;
    margin-bottom: 25px;
  }
}

button[type="button"]:disabled {
    background: #e45e5e;
    color: white;
    border: 1px solid #e45e5e;
}

@media only screen and (max-width: 767px) {
  .img-responsive {
    max-height: 280px;
    /*min-width: 300px;*/
    width: 100%;
  }
  .rating {
    float: none;
    margin-bottom: 0px;
  }
  .bt-featured-pro.bt-nprolarge-slider .box-content .bt-product-grid .bt-item-extra {
    float: none;
  }
  .button-group {
    float: right;
    position: absolute;
    top: 318px;
    right: 0;
    margin-right: 20px;
    ;
  }
  .product-thumb .bt-item .transition {
    min-width: 400px;
  }
  .button-group .btn-cart, .button-group .wishlist-compare {
    display: block;
    margin-top: 10px;
  }
  .product-layout .product-thumb, .product-related ul li .relt_product {
    max-height: 400px;
    min-height: 400px;
  }
  .bt-nprolarge-slider .box-content .bt-item-extra .image {
    margin-bottom: 0px;
  }
  .boss-blog-featured .box-heading, .bt-featured-pro>.box-heading, .bt-product-category>.box-heading, .bt-service .box-heading {
    margin-bottom: 15px
  }
}

@media only screen and (max-width: 1190px) {
  .button-group .btn-cart {
    padding: 10px 5px;
    margin-bottom: 0px;
    min-width: 120px;
  }
}

.wishlist-compare {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.image {
  margin-bottom: 15px;
  min-width: 250px;
}
