<div class="product-thumb">
  <div class="image">
    <a (click)="clickOnProduct(product)">
      <i *ngIf="isloading" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw" style="position: absolute;top: 47%;left: 49%;"></i>
      <img src="{{product.photoUrl}}" (load)="loading()" alt="{{product.title}}" title="{{product.title}}" class="img-responsive standard-product">
    </a>
    <div class="label-discount" *ngIf="product.sale > 0"> <span>{{product.sale}}%</span> </div>
    <button class="btn-quickshop" title="Quick Shop" data-toggle="modal" (click)="showModal(product)" data-target="#myModal">Xem nhanh</button></div>
  <div class="caption">
    <div class="name"><a (click)="clickOnProduct(product)">{{product.title}} <small style="color: lightgrey;">(300g)</small></a>
    </div>
    <div class="rating">
      <span class="fa fa-stack"><i *ngIf="product.star > 0" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
      <span class="fa fa-stack"><i *ngIf="product.star > 1" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
      <span class="fa fa-stack"><i *ngIf="product.star > 2" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
      <span class="fa fa-stack"><i *ngIf="product.star > 3" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
      <span class="fa fa-stack"><i *ngIf="product.star > 4" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
    </div>
    <div style="margin-bottom: 8px;float: left;" >
      <span *ngIf="product.sale == 0" class="price">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>
      <span *ngIf="product.sale > 0" style="float: left;     margin-top: 5px;" class="price-old">{{product.newPrice|currency:'VND':'symbol':'.0-3'}}</span>
      <span *ngIf="product.sale > 0" style="font-size: 18px;line-height: 24px;font-weight: 700;" class="price price-new">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>
    </div>
    <div class="button-group">
      <button class="btn-cart" (click)="addCart(product)" type="button" [disabled]="productInCart(product) | async">Thêm vào giỏ
      </button>
      <!-- <div class="wishlist-compare">
        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
      </div> -->
    </div>
  </div>
</div>
