<div class="bt-mobile">
  <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle fa-2x"></i></a>

    <!-- /.bt-currency -->
    <div class="logged-link">
      <a (click)="routeToLogin()"><i class="fa fa-sign-in"></i><span>Đăng nhập</span></a>
      <a (click)="routeToRegister()"><i class="fa fa-hand-o-up"></i><span>Đăng ký</span></a> </div>
    <div class="menubar">
      <div class="container">
        <div class="bt_mainmenu">
          <div class="row">
            <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
            <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle fa-2x"></i></a>
              <ul class="nav nav-pills">
                <li class="parent">
                  <a (click)="routeToHome()"><span class="menu-title">Trang chủ</span></a>
                </li>
                <li class="parent">
                  <p class="plus visible-xs">+</p> <a ><span class="menu-title">Dịch vụ</span><i class="fa fa-angle-down"></i></a>
                  <div class="dropdown drop-grid-6-6">
                    <div class="menu-row row-col-6">
                      <div class="menu-column row-grid-2">
                        <!-- html-->
                        <div class="staticblock">
                          <a title="Drug" [routerLink]="['/']"><img src="assets/images/logo.png" title="Drug" alt="Drug">
                          </a>
                          <p>Metallic round sunglasses powder blue loafer Prada Saffiano button up print. Crop Saint Laurent lilac sports luxe strong eyebrows la marinière razor pleats shoe statement gold collar. Floral bandeau envelope clutch dove grey
                            Jil Sander Vasari dress. Leggings Lanvin Jil Sander Vasari texture collarless grunge leather tote.</p>
                        </div>
                      </div>
                      <div class="menu-column row-grid-1">
                        <a class="parent">Personal Care</a>
                        <ul class="column category">
                          <li class="col-grid-1 "> <a >hair regrowth</a> </li>
                          <li class="col-grid-1 "> <a >ear care</a> </li>
                          <li class="col-grid-1 "> <a >foot care</a> </li>
                          <li class="col-grid-1 "> <a >oral care</a> </li>
                          <li class="col-grid-1 "> <a >sun care</a> </li>
                        </ul>
                      </div>
                      <div class="menu-column row-grid-1">
                        <a  class="parent">Organic Ingredients</a>
                        <ul class="column category">
                          <li class="col-grid-1 "> <a>Healthy Skin</a> </li>
                          <li class="col-grid-1 sub_category"> <a >Cosmetics<i class="fa fa-angle-right"></i></a>
                            <div class="sub_menu">
                              <ul>
                                <li><a href="#_66">fragrance</a>
                                </li>
                                <li><a href="#_67">hair care</a>
                                </li>
                                <li><a href="#_68">skin care</a>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="col-grid-1 sub_category"> <a>Diet &amp; Fitness<i class="fa fa-angle-right"></i></a>
                            <div class="sub_menu">
                              <ul>
                                <li><a href="#_65">nutritional bars</a>
                                </li>
                                <li><a href="#_64">sports nutrition</a>
                                </li>
                                <li><a href="#_63">weight loss</a>
                                </li>
                                <li><a href="#_62">yoga &amp; pilates</a>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="col-grid-1 "> <a >international beauty</a> </li>
                          <li class="col-grid-1 "> <a >natural &amp; organic</a> </li>
                        </ul>
                      </div>
                      <div class="menu-column row-grid-2">

                      </div>
                    </div>
                  </div>
                </li>
                <li> <a (click)="routeToProduct()"><span class="menu-title">Sản phẩm</span></a> </li>
                <li> <a (click)="routeToBlog()"><span class="menu-title">Tin tức</span></a> </li>
              </ul>
            </nav>
            <!-- /.mega-menu -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.menubar -->
  </div>
</div>
