<div class="container">
  <div class="main">
    <div class="col-md-6 col-md-offset-3">
      <h3 >Sign Up</h3>

      <form role="form" #formData='ngForm' (ngSubmit)="signUp(formData)">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" (ngModel)="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="inputName">Photo</label>
          <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" [(ngModel)]="photoName" name="no-idea" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                      <!-- image-preview-clear button -->
                      <div class="btn btn-default image-preview-input" *ngIf="selectedPhoto" (click)="clearImage()">
                          <i class="fa fa-times" aria-hidden="true"></i> Clear
                      </div>
                      <!-- image-preview-input -->
                      <div class="btn btn-default image-preview-input">
                          <i class="fa fa-folder-open" aria-hidden="true"></i>
                          <span class="image-preview-input-title">Browse</span>
                          <input type="file" accept="image/png, image/jpeg, image/gif" (change)="detectFiles($event)" name="input-file-preview"/> <!-- rename it -->
                      </div>
                  </span>
              </div>
        </div>
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="inputUsernameEmail" (ngModel)="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" (ngModel)="password" name="password" required>
        </div>
        <button type="submit" [disabled]="!formData.valid" class="btn btn btn-primary">
          Create my account
        </button>
      </form>
      <div class="alert alert-warning fade in" role="alert" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert" (click)="closeError()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Warning!</strong> {{error}}
      </div>
    </div>
  </div>
</div>
