<div class="boss-new-position">
	<div class="container">
		<div class="menu_custom row">
			<app-left-nav></app-left-nav>
			<app-slide ></app-slide>
		</div>
	</div>
</div>
<app-over-view></app-over-view>
<app-blog-review></app-blog-review>
