.slide {
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  border-radius: 50%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 50%;
  z-index: 100;
  outline: none;
  margin-top: -14px;
}

.slide i {
  font-size: 18px;
  line-height: 25px;
}

.rightB {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -4px;
}

.slide:hover {
  color: white;
  border: none;
  background-color: #62ad3e;
}

.leftRs {
  left: -30px;
}

.rightRs {
  right: -30px;;
}

.bosszoomtoolbox .image {
    position: relative;
    z-index: 10;
}


@media only screen and (min-width: 500px) and (max-width: 1200px) {
  .image-additional {
      padding: 0 45px;
  }
}

.item {
   /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  padding: 5px !important;
}
