<div style="padding-left: 30px;
    padding-right: 30px;">
  <div class="image-additional">
    <ngx-carousel [inputs]="carouselTile">
      <ngx-item NgxCarouselItem *ngFor="let item of items">
        <a (click)="selectImage(item)">
          <image [imageURL]="item"></image>
      </a>
      </ngx-item>
      <button NgxCarouselPrev #prevButton class='leftRs slide'><i data-original-title="Previous" style="letter-spacing: -1px;" class="fa fa-angle-left btooltip">&nbsp;</i></button>
      <button NgxCarouselNext #nextButton class='rightRs slide'><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></button>

    </ngx-carousel>
  </div>
</div>
