<div id="content" class="col-sm-12 col-sm-9">
  <h1 class="page-title text-center">Chào, {{auth.displayName}}!</h1>
  <form role="form" #formData='ngForm' (ngSubmit)="updateUser()" enctype="multipart/form-data" class="form-horizontal register">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <fieldset id="account">
        <h1 class="drug_info_wrapper">Thông tin cá nhân</h1>
        <div class="required">
          <label class="control-label" for="input-firstname">Họ</label>
          <input type="text" name="firstname" value="" placeholder="First Name" [(ngModel)]="user.firstName" id="input-firstname" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-lastname">Tên</label>
          <input type="text" name="lastname" value="" placeholder="Last Name" [(ngModel)]="user.lastName" id="input-lastname" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-email">E-Mail</label>
          <input type="email" name="email" value="" placeholder="E-Mail" [(ngModel)]="user.email" id="input-email" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-telephone">Số điện thoại</label>
          <input type="tel" name="telephone" value="" placeholder="Telephone" [(ngModel)]="user.phoneNumber" id="input-telephone" class="form-control" required> </div>
      </fieldset>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buttons">
        <div class="button-register">
          <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn-blue">
            Cập nhật
            <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
