@media only screen and (min-width: 992px) and (max-width: 1023px) {
  #cart {
    margin-left: 25px;
  }
  .right-to-left #cart {
    margin-left: 0;
    margin-right: 25px;
  }
  #boss-search .choose-select .input_cat {
    min-width: 170px;
  }
  #search .form-control {
    width: 430px;
  }
  .bt-staticblock-shopnow .bt-item-left .bt-banner-title {
    left: 20px;
    top: 12px;
    margin-bottom: 2px
  }
  .bt-item-left .bt-banner-title h3 {
    font-size: 36px;
    line-height: 38px;
  }
  .bt-item-left .bt-banner-title h4 {
    margin-bottom: 5px;
  }
  .bt-item-right .bt-banner-title h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .bt-item-right .bt-banner-title p {
    font-size: 14px;
  }
  .bt-staticblock-shopnow .bt-item-right .bt-banner-title {
    top: 20px;
    padding: 0 10px;
  }
  .bt-item-right .bt-banner-title p+p {
    margin-bottom: 10px;
  }
  .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 15px;
    max-width: 50%;
  }
  .right-to-left .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 0;
    margin-left: 15px;
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding-top: 5px;
    padding-bottom: 5px
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail .article-name a {
    line-height: 22px;
  }
  .bt-staticblock-college>a:before, .bt-staticblock-diet:hover>a:before, .bt-staticblock-babyneeds:hover>a:before, .bt-banner-left:hover>a:before {
    border: 120px solid rgba(0, 0, 0, 0.4);
  }
  .bt-staticblock-diet .text-info .large-text, .bt-staticblock-babyneeds .text-info .large-text, .bt-banner-left .text-info .large-text {
    font-size: 34px;
    line-height: 36px;
  }
}
