@media only screen and (max-width: 479px) {
  body {
    -webkit-text-size-adjust: none;
  }
  #currency {
    margin-right: 30px;
  }
  .boss-blog-featured .box-heading h1, .bt-featured-pro .box-heading h1, .bt-product-category .box-heading h1, .bt-service .box-heading h1 {
    font-size: 18px;
  }
  .bt-featured-pro .box-heading h1:after {
    left: 10px;
  }
  .bt-featured-pro .box-heading h1 {
    /*padding-left: 40px;*/
  }
  .boss-blog-featured .box-heading h1 i, .bt-service .box-heading h1 i {
    margin-right: 8px;
  }
  .right-to-left .boss-blog-featured .box-heading h1 i, .right-to-left .bt-service .box-heading h1 i {
    margin-right: 0;
    margin-left: 8px;
  }
  .boss-blog-featured .box-heading h1, .bt-service .box-heading h1 {
    padding-left: 10px;
  }
  .right-to-left .boss-blog-featured .box-heading h1, .right-to-left .bt-service .box-heading h1 {
    padding-right: 10px;
    padding-left: 25px;
  }
  .right-to-left .bt-featured-pro .box-heading h1 {
    padding-left: 25px;
    padding-right: 40px;
  }
  .right-to-left .bt-featured-pro .box-heading h1:after {
    left: auto;
    right: 10px;
  }
  .boss-blog-featured .box-content .box-article .article_content .image {
    float: none;
    margin: 0 0 22px;
    width: 100%;
  }
  .boss-blog-featured .box-content .box-article .article_content .image img {
    width: 100%;
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding: 0 10px 10px;
  }
  .boss-blog-featured .box-content .box-article .article_content .image a:hover:before {
    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.5) inset;
  }
  .result-pagination .results {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .result-pagination .links {
    overflow: visible;
  }
  .content-search .box-search .form-control, .content-search .box-search-cate .form-control {
    width: 100%;
  }
  .category-list ul {
    width: 40%
  }
  .category-list ul+ul+ul {
    margin-top: 20px;
  }
  .product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare {
    width: 100%;
  }
  .product-info .button-group .btn-wishlist {
    margin-bottom: 15px;
  }
  .product-related .carousel-button {
    top: 35px;
  }
  .product-related h1 {
    margin-bottom: 50px;
  }
  h1.block-title+.table td .btn-gray+.btn-blue {
    margin-top: 10px;
  }
  .product-info .quantily_info .title_text {
    width: 15%;
  }
  .review-product .form-horizontal .form-group .control-label {
    width: 34.5%
  }
  .product-thumb .button-group .btn-cart i {
    margin-right: 10px;
  }
  .cart-total table tr td {
    padding-right: 40px;
  }
  .cart-total table tr td.left {
    padding-left: 40px;
  }
  .cart-info .table td.image, .wishlist-info .table td.image {
    width: 40%;
  }
  .cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name {
    width: 60%;
  }
  .bt-footer-middle .bt-block-footer ul li i {
    margin-right: 8px;
  }
  .right-to-left .bt-footer-middle .bt-block-footer ul li i {
    margin-right: 0;
    margin-left: 8px;
  }
  .bt-block-category .block-title {
    right: 6%;
    top: 15%;
  }
  .bt-block-category .block-title h4:before, .bt-block-category .block-title h4:after {
    width: 35px;
  }
  .bt-block-category .block-title h4:before {
    left: -43px;
  }
  .bt-block-category .block-title h4:after {
    right: -43px;
  }
  .bt-block-category .block-title h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .bt-block-category .block-title h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .bt-block-category .block-title .btn {
    font-size: 16px;
    line-height: 18px;
    padding: 6px 14px 8px;
  }

  .bt-staticblock-shopnow .bt-item-left .bt-banner-title {
    top: 15px;
    left: 30px;
  }
  .bt-item-left .bt-banner-title h4 {
    margin-bottom: 12px;
  }
  .bt-item-left .bt-banner-title h3 {
    font-size: 36px;
    line-height: 38px;
  }
  .bt-staticblock-shopnow .bt-item-right .bt-banner-title {
    padding: 0 10px;
    top: 20px;
  }
  .bt-item-right .bt-banner-title h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .bt-block-category .block-title {
    right: 6%;
    top: 15%;
  }
  .bt-block-category .block-title h4:before, .bt-block-category .block-title h4:after {
    width: 30px;
  }
  .bt-block-category .block-title h4:before {
    left: -38px;
  }
  .bt-block-category .block-title h4:after {
    right: -38px;
  }
  .bt-block-category .block-title h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .bt-block-category .block-title h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .bt-block-category .block-title .btn {
    font-size: 14px;
    line-height: 16px;
    padding: 6px 12px 8px;
  }
  .htabs ul li {
    min-width: 50%;
  }
}
