@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    -webkit-text-size-adjust: none;
  }
  #top #top-links.pull-right {
    width: 80%;
  }
  header>.container>.row .col-sm-3 {
    width: auto;
  }
  .header_category .box.opencate .box-content {
    height: auto;
    overflow: inherit;
    visibility: visible
  }
  #cart {
    margin-left: 15px;
  }
  .right-to-left #cart {
    margin-left: 0;
    margin-right: 15px;
  }
  #boss-search .choose-select #search .form-control {
    width: 440px;
  }
  /*home page*/
  /*category*/
  .right-to-left .product-filter .display .btn-list {
    margin-right: 0;
    margin-left: -4px;
  }
  .product-filter .box_limit select {
    width: 70px;
  }
  .product-filter .box_sort select {
    width: 120px;
  }
  .cart-info .table tbody tr td.remove .btn-update {
    margin-right: 5px;
  }
  /*detail*/
  .product-related .relt_product .image img {
    width: 100%;
  }
  .checkout .panel .panel-body .left-content {
    margin-right: 30px;
  }
  .cart-info .table tbody tr td.quantity input {
    margin: 0;
  }
  .cart-info .table tbody tr td.quantity button {
    padding: 0;
  }

  .mega-menu>ul.nav>li>a, .common-home .mega-menu>ul.nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bt-staticblock-college>a:before, .bt-staticblock-diet:hover>a:before, .bt-staticblock-babyneeds:hover>a:before, .bt-banner-left:hover>a:before {
    border: 120px solid rgba(0, 0, 0, 0.4);
  }
  .bt-service .bt-service-content h2 {
    padding: 0;
  }
  .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 15px;
  }
  .right-to-left .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 0;
    margin-left: 15px;
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .bt-staticblock-diet .text-info .large-text, .bt-staticblock-babyneeds .text-info .large-text, .bt-banner-left .text-info .large-text {
    font-size: 34px;
    line-height: 36px;
  }
  .bt-staticblock-shopnow .bt-item-right .bt-banner-title {
    top: 20px;
    padding: 0 10px;
  }
  .bt-item-right .bt-banner-title h2 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .bt-item-right .bt-banner-title p+p {
    margin-bottom: 5px;
  }
  .bt-item-left .bt-banner-title h4 {
    margin-bottom: 5px;
  }
  .bt-staticblock-shopnow .bt-item-left .bt-banner-title {
    top: 15px;
    left: 20px;
  }
  .bt-item-left .bt-banner-title h3 {
    font-size: 34px;
    line-height: 36px;
  }
}
