@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-filter .link-compare {
    width: 24%;
  }
  #content.col-sm-6 .product-filter .link-compare {
    width: 45%;
    padding-left: 12px;
  }
  .right-to-left #content.col-sm-6 .product-filter .link-compare {
    padding-left: 0;
    padding-right: 12px;
  }
  .product-filter .display {
    width: 15.5%;
  }
  #content.col-sm-6 .product-filter .display {
    width: 24%;
  }
  #content.col-sm-6 .product-filter {
    height: auto;
    padding-left: 0
  }
  .right-to-left #content.col-sm-6 .product-filter {
    padding-right: 0
  }
  #content.col-sm-6 .product-filter .limit-sort {
    float: left;
    width: 100%;
    border-top: 1px solid #eaeaea;
    padding-left: 12px;
    text-align: left;
    height: 42px;
  }
  .right-to-left #content.col-sm-6 .product-filter .limit-sort {
    text-align: right;
    padding-right: 12px;
    padding-left: 0
  }
  .product-filter .limit-sort {
    width: 60%;
  }
  .product-filter .box_limit {
    margin-left: 0;
  }
  .product-filter .box_sort {
    width: 55%;
  }

  .container {
    max-width: 962px;
  }
  #top #top-links.pull-right {
    width: 70%;
  }
  #top #top-links .list-inline li:first-child {
    padding-left: 0;
  }
  #top #top-links .list-inline .dropdown .dropdown-menu {
    left: 0;
    right: auto;
  }
  #currency .btn-group, #language .btn-group {
    padding-bottom: 10px;
  }
  #top .list-inline>li.dropdown, #cart {
    padding-bottom: 12px;
  }
  .header_category .box-content .box-category.boss-menu-cate>li {
    padding: 10px;
  }
  .header_category .box-content .box-category.boss-menu-cate>li .nav_submenu .nav_submenu_inner {
    max-width: 524px;
  }
  .header_category .box-content .box-category.boss-menu-cate>li .nav_title img {
    margin-right: 10px;
  }
  .right-to-left .header_category .box-content .box-category.boss-menu-cate>li .nav_title img {
    margin-right: 0;
    margin-left: 10px;
  }
  /*home page*/
  .bt-home-page #column-left {
    padding-right: 15px;
  }
  .right-to-left.bt-home-page #column-left {
    padding-right: 0;
    padding-left: 15px;
  }
  .bt-home-page #column-left+#content.col-sm-9 {
    padding-left: 15px;
  }
  .right-to-left.bt-home-page #column-left+#content.col-sm-9 {
    padding-left: 0;
    padding-right: 15px;
  }
  .bt-featured-pro.bt-nprolarge-tabs .bt-product-content .bt-items .image {
    margin-right: 12px;
  }
  .bt-featured-pro .boss-category-pro .product-categories-box {
    padding: 18px 15px;
  }
  .bt-nprolarge-slider .box-content .bt-item-extra .price .price-old, .product-layout.product-grid .price .price-old, .box-special .box-content .price .price-old, .product-related ul li .relt_product .price .price-old {
    display: block;
  }
  /*footer*/
  .bt-footer-middle .boss-recent-post .item-recent-post .title {
    min-width: 45%;
  }
  .bt-footer-middle .footer-newsletter input.form-control {
    padding-left: 18px;
  }
  .bt-footer-middle .boss-recent-post .item-recent-post .title a {
    line-height: 20px;
  }
  .bt-footer-middle .boss-recent-post .item-recent-post .image span small {
    line-height: 50px;
  }
  /*category*/
  .product-filter .box_limit select {
    width: 65px;
  }
  .product-filter .box_sort select, .another-language #content.col-sm-6 .product-filter .box_sort select {
    width: 110px;
  }
  .product-layout .product-thumb .image img {
    width: 100%;
  }
  /*detail*/
  .product-related .relt_product .image img {
    width: 100%;
  }
  .product-info .quantily_info .title_text {
    width: 15%
  }
  /*shopping cart*/
  .cart-info .table tbody tr td.remove .btn-update {
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0;
  }
  .checkout .panel .panel-body .left-content {
    margin-right: 30px;
  }
  #content.col-sm-9 #shipping-existing .form-control, #content.col-sm-9 #payment-existing .form-control {
    width: 70%;
  }
  #content.col-sm-9 .checkout .panel .panel-body .left-content {
    margin-bottom: 35px;
    margin-right: 0;
    width: 100%;
  }
  #content.col-sm-9 .checkout .panel .panel-body .right-content {
    width: 100%;
  }
  .cart-info .table tbody tr td.quantity input {
    margin: 0;
  }
  .cart-info .table tbody tr td.quantity button {
    padding: 0;
  }
  /*myaccount*/
  .register .form-control {
    width: 50%;
  }
  .another-language .product-filter {
    height: auto;
    padding-right: 0;
  }
  .another-language .product-filter>* {
    height: 42px;
  }
  .another-language .product-filter .link-compare {
    width: 30%;
    padding-right: 12px;
  }
  .another-language .product-filter .limit-sort {
    width: 100%;
    border-top: 1px solid #eaeaea
  }
  .another-language .product-filter .box_sort select {
    width: 140px;
  }

  .mega-menu>ul.nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mega-menu>ul.nav>li .dropdown .menu-row .menu-column .sub_category a>i {
    margin-left: 5px;
  }
  .mega-menu>ul.nav>li>a>span {
    margin-right: 2px;
  }
}
