.result-pagination.blog-pagination {
  margin-top: 0;
}

/*@media only screen and (max-width: 500px) {
  .right-to-left .result-pagination.blog-pagination .links {
    text-align: center;
  }

  .result-pagination .blog-pagination .links {
    text-align: center;
    float: none;
  }
}

@media only screen and (min-width: 500px) {
  .result-pagination.blog-pagination .links {
    float: right;
  }

  .right-to-left .result-pagination.blog-pagination .links {
    float: left;
  }
}*/

@media only screen and (max-width: 479px) {
  .result-pagination .links {
    overflow: visible;
    text-align: center;
  }
}

.result-pagination.blog-pagination .links .pagination li>a, .result-pagination.blog-pagination .links .pagination li>span {
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 28px;
}
