<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">
  <div class="result-pagination blog-pagination" *ngIf="show(p)">
    <div class="results pull-left" >Hiển thị từ {{(p.getCurrent() - 1) * config.itemsPerPage + 1}} đến {{p.getCurrent() * config.itemsPerPage}} của {{p.getLastPage() * config.itemsPerPage}} ({{p.getLastPage()}} Trang)</div>
    <div class="links">
      <ul class="pagination">
        <li [class.disabled]="p.isFirstPage()"><a *ngIf="!p.isFirstPage()" (click)="p.previous()"><</a>
        </li>
      </ul>
      <ul class="pagination" *ngFor="let page of p.pages">
        <li (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
          <a style="cursor: pointer">{{page.label}}</a>
        </li>
        <li class="active" *ngIf="p.getCurrent() === page.value"><span>{{page.label}}</span>
        </li>
      </ul>
      <ul class="pagination">
        <li [class.disabled]="p.isLastPage()"><a *ngIf="!p.isLastPage()" (click)="p.next()">&gt;</a>
        </li>
      </ul>
    </div>
  </div>
</pagination-template>
