.item {
  padding: 0px;
}

.box-special .box-content, .boss-testimonial .box-content {
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.img-responsive {
  max-height: 250px;
  min-height: 250px;
}

.product-layout:has(> div) {
  box-shadow: none;
}


@media only screen and (max-width: 767px) {
  .img-responsive {
    max-height: 280px;
    /*min-width: 300px;*/
    width: 100%;
  }
  .bt-featured-pro.bt-nprolarge-slider .box-content .bt-product-grid .bt-item-extra {
    float: none;
  }
  .button-group {
    float: right;
    position: absolute;
    top: 285px;
    right: 0;
    margin-right: 15px;
    ;
  }
  .product-thumb .bt-item .transition {
    min-width: 400px;
  }
  .button-group .btn-cart, .button-group .wishlist-compare {
    display: block;
    margin-top: 10px;
    width: 78px;
  }
  .product-layout .product-thumb, .product-related ul li .relt_product {
    max-height: 400px;
    min-height: 400px;
  }
  .bt-nprolarge-slider .box-content .bt-item-extra .image {
    margin-bottom: 0px;
  }
  .boss-blog-featured .box-heading, .bt-featured-pro>.box-heading, .bt-product-category>.box-heading, .bt-service .box-heading {
    margin-bottom: 15px
  }
}

@media only screen and (max-width: 1190px) {
  .button-group .btn-cart {
    padding: 10px 5px;
    margin-bottom: 0px;
    min-width: 120px;
  }
}

.fa-1x {
  font-size: 20px;
}
