<div *ngIf="!isSpecial" class="bt-featured-pro bt-nprolarge-slider {{class}}">
  <div class="box-heading title">
    <h1>
      <i class="fa {{logo}} fa-1x" aria-hidden="true"></i>

      {{title}}

    </h1>
  </div>
  <div class="box-content bt-product-content">
    <div class="bt-items bt-product-grid">
      <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

        <ngx-item NgxCarouselItem *ngFor="let item of carouselTileItems">
          <div class="bt-item-extra product-layout even element-3 ">
            <app-product-item [product]="item" (details)="details(item)"></app-product-item>
          </div>
        </ngx-item>
        <button NgxCarouselPrev #prevButton class='leftRs hide'>&lt;</button>
        <button NgxCarouselNext #nextButton class='rightRs hide'>&gt;</button>

      </ngx-carousel>
      <div class="clearfix"></div>
      <a (click)="prev()" class="prev nav_thumb" title="prev"><i class="fa fa-angle-left"></i></a>
      <a (click)="next()" class="next nav_thumb" title="next"><i class="fa fa-angle-right"></i></a>

    </div>
  </div>
</div>
<!-- Special item -->
<div *ngIf="isSpecial">
  <app-big-deal [today_deal]="today_deal"></app-big-deal>
</div>


<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
