<div class="bt-breadcrumb">
	<div class="container">
		<div class="row">
			<ul class="breadcrumb">
				<li><a [routerLink]="['/']"><i class="fa fa-home"></i></a>
				</li>
				<li><a (click)="reRoot()">Sản phẩm</a>
				</li>
				<li *ngIf="heading()"><a>{{heading()}}</a>
        </li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div id="column-left" class="col-sm-3 hidden-xs">
			<div class="box bt-category fadeInLeft animated" data-animate="fadeInLeft" data-delay="200">
				<div class="box-heading">
					<h1>Danh mục</h1>
				</div>
				<div class="box-content">
					<div class="box-category" id="boss-category">
						<ul class="box-category">
							<li><a [ngClass]="{'active' : '' == getKey()}"  class="list-group-item" (click)="reRoot()">Tất cả</a> </li>
							<li *ngFor="let item of categories | async"> <a  [ngClass]="{'active' : item.id == getKey()}" class="list-group-item" [routerLink]="['/product/category', item.id]">{{item.value}}</a> </li>
						</ul>
					</div>
				</div>
			</div>

			<app-big-deal [today_deal]="today_deal"></app-big-deal>

			<app-smaill-product [items]="organic_goods" [title]="title_latest"></app-smaill-product>
			<div class="clearfix"></div>

			<!-- /.bt-latest -->

			<!-- /.bt-filter -->

			<!-- /.bt-alphabet -->
			<div class="bt-tagcloud box fadeInLeft animated" data-animate="fadeInLeft" data-delay="200">
				<div class="box-heading">
					<h1>Tags</h1> </div>
				<div class="box-content" style="text-align:left;"> <a href="#Texa" style="text-decoration:none;font-size:18px;font-weight:normal;" title="Rau"> Rau</a> <a href="#molestie" style="text-decoration:none;font-size:13px;font-weight:normal;" title="Rau quả">Rau quả</a> <a href="#Madazic" style="text-decoration:none;font-size:13px;font-weight:normal;"
					  title="Cà chua"> Cà chua</a> <a href="#Sakutara" style="text-decoration:none;font-size:12px;font-weight:normal;" title="Đậu"> Đậu</a> <a href="#pharetra" style="text-decoration:none;font-size:20px;font-weight:normal;" title="Xà lách">Xà lách</a> <a href="#Navia"
					  style="text-decoration:none;font-size:19px;font-weight:normal;" title="Hộp rau"> Hộp rau</a> <a href="#Supper Frankie" style="text-decoration:none;font-size:12px;font-weight:normal;" title="Dưa leo">Dưa leo</a> <a href="#Nakata" style="text-decoration:none;font-size:13px;font-weight:normal;"
					  title=""> Bắp cải</a> <a href="#justo" style="text-decoration:none;font-size:19px;font-weight:normal;" title="Trái cây">Trái cây</a> <a href="#sudan" style="text-decoration:none;font-size:20px;font-weight:normal;" title="Cà chua bi">Cà chua bi</a> <a href="#Aenean" style="text-decoration:none;font-size:13px;font-weight:normal;"
					  title="">Radicchio</a> <a href="#frankie" style="text-decoration:none;font-size:13px;font-weight:normal;" title="Đậu rồng">Đậu rồng</a> <a href="#supper" style="text-decoration:none;font-size:18px;font-weight:normal;" title="Hộp rau xanh">Hộp rau xanh</a> </div>
			</div>
			<!-- /.bt-tagcloud -->
			<div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
				<a title="banner left" href="#"> <img src="assets/images/banner/banner_home_left3.jpg" alt="banner"></a>
				<div class="text-info"> <span class="small-text">Những sản phẩm</span> <span class="large-text">Tốt cho sức khỏe</span> <a [routerLink]="['/product']" class="btn-shopnow">Mua ngay</a> </div>
			</div>
			<!-- /.bt-banner-left -->
		</div>
		<!-- /#column-left -->
		<router-outlet></router-outlet>
		<!-- /#content -->
		<div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
		</div>
	</div>
	<!-- /.row -->
</div>
