
<div class="container">
    <div class="jumbotron" style="background-color: transparent;">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> Không tìm thấy trang</small></p></h1>
        <p class="text-center">Nhấp vào nút bên dưới để quay về trang chủ.</p>
        <p class="text-center"><a class="btn btn-primary" routerLink="/"><i class="fa fa-home"></i> Quay lại</a></p>
    </div>
</div>
