<div id="content" class="col-sm-9">

  <!-- /.category-list -->
  <div class="product-filter">
    <div class="link-compare hidden-xs"><a id="compare-total">Thanh công cụ</a>
    </div>
    <!-- /.link-compare -->
    <!-- /.display -->
    <div class="limit-sort hidden-xs" style="width: 79%">
      <div class="box_sort">
        <label class="control-label" for="input-sort">Sắp xếp:</label>
        <label>
                                <select id="input-sort" class="form-control" #selectedSort (change)="sort(selectedSort.value)">
                                    <option value="title;false" selected="selected">Mặc định</option>
                                    <option value="title;false">Tên (A - Z)</option>
                                    <option value="title;true">Tên (Z - A)</option>
                                    <option value="price;false">Giá (Thấp &gt; Cao)</option>
                                    <option value="price;true">Giá (Cao &gt; Thấp)</option>
                                    <!-- <option value="star;false">a (Thấp &gt; Cao)</option>
                                    <option value="star;true">a (Cao &gt; Thấp)</option> -->
                                </select>
                            </label>
      </div>
      <div class="box_limit">
        <label class="control-label" for="input-limit">Hiển thị:</label>
        <label>
          <select id="input-limit" class="form-control" [(ngModel)]="config.itemsPerPage">
            <option value="3" selected="selected">3</option>
              <option value="6" selected="selected">6</option>
              <option value="12">12</option>
              <option value="24">24</option>
          </select>
       </label>
      </div>
    </div>
    <div class="limit-sort display-xs" style="width: 100%;">
      <label class="control-label" for="input-sort">Sắp xếp:</label>
      <label>
        <select id="input-sort" style="border: none" class="form-control" #selectedSort2 (change)="sort(selectedSort2.value)">
            <option value="title;false" selected="selected">Mặc định</option>
            <option value="title;false">Tên (A - Z)</option>
            <option value="title;true">Tên (Z - A)</option>
            <option value="price;false">Giá (Thấp &gt; Cao)</option>
            <option value="price;true">Giá (Cao &gt; Thấp)</option>
        </select>
    </label>
    </div>
    <!-- /.limit-sort -->
  </div>
  <!-- /.product-filter -->
  <!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->

  <div *ngIf="showSpinner" class="sk-chasing-dots" style="margin-top: 30%; margin-left: 50%">
    <div class="sk-child sk-dot1"></div>
    <div class="sk-child sk-dot2"></div>
  </div>
  <div class="row">
    <input type="text" style="display: none" name="filter" [(ngModel)]="filter">
    <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let item of products | async | orderBy: key :reverse | filter:filter :key | paginate: config ">
      <app-product-item [product]="item" (details)="details($event)"></app-product-item>
    </div>
  </div>
  <!-- /.row -->
  <app-pagination [config]="config" [isTop]="bottom"></app-pagination>
  <!-- /.result-pagination -->
</div>
