<div class="boss-filter-container">
  <div id="boss_homefilter_tabs0" class="boss_homefilter_tabs">
    <div id="tabs_container0" class="hide-on-mobile tabs_container"> </div>
    <div id="tabs_content_container0" class="home_filter_content tabs_content_container">
      <div class="box-heading title">
        <h1>{{title}}</h1>
      </div>
      <div class="box-content">
        <div id="content_tab00" class="content_tabs0 list_carousel responsive column-noimage" style="display:block">
          <ul id="carousel_tab00" data-prev="#prev_tab00" data-next="#next_tab00" class="box-product">
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="product-thumb" *ngFor="let item of items | async">
                <div class="image">
                  <a class="" data-id="42" [routerLink]="['/product', item.id]"><img src="{{item.photoUrl}}" class="circle img-thumbnail img-box user-photo" width="81" alt="{{item.title}}" title="{{item.title}}" />
                  </a>
                </div>
                <div class="small_detail">
                  <div class="name"><a [routerLink]="['/product', item.id]">{{item.title}}</a>
                  </div>
                  <div class="rating">
                    <span class="fa fa-stack"><i *ngIf="item.star > 0" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i *ngIf="item.star > 1" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i *ngIf="item.star > 2" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i *ngIf="item.star > 3" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i *ngIf="item.star > 4" class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  </div>
                  <div class="price"> {{item.price|currency:'VND':'symbol':'.0-3'}} </div>
                  <!-- <div class="button-group">
                    <button class="btn-cart" type="button">Add to Cart</button>
                    <div class="wishlist-compare">
                      <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                                        </button>
                      <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                                        </button>
                    </div>
                  </div> -->

                </div>

              </div>
            </li>
          </ul>

        </div>
      </div>
      <!-- /.box-content -->
    </div>
  </div>
</div>
