.article-related{
	overflow:hidden;
	width:100%;
	margin-top:56px;
	margin-bottom:45px;
	position:relative;
}
.article-related h1, .boss_article-detail .product-related h1,.boss_article-detail .comments h1,
.boss_article-detail + .bt-facecomments h1{
	font-size:20px;
	line-height:22px;
	color:#303030;
	margin-bottom:40px;
}
.article-related .list_carousel{
	margin-left:-12px;
}
.article-related .content-articles .relt-article{
	border:1px solid #eaeaea;
	max-width:272px;
	margin:0 12px;
}
.article-related li{
    display: inline-block;
	float:none;
    vertical-align:top;
	max-width:300px;
}
.article-related li .name a{
	font-size:16px;
	font-weight:700;
	line-height:24px;
	margin-bottom:6px;
}
.article-related li .name a:hover{
	color:#79c753;
}
.article-related li .comment-count a{
	color:#79c753;
}
.article-related li .comment-count a:before{
	content:"|";
	margin:0 8px;
}
.article-related li .comment-count a:hover{
	text-decoration:underline;
}
.article-related li .title{
	line-height:1.55em;
}
.article-related li .caption{
	padding:0 20px;
}
.article-related li .image{
	margin-bottom:10px;
}
.article-related li .caption .date-comments{
	margin-bottom:8px;
	line-height:22px;
}
.article-related li .caption .date-comments .time-stamp{
	display:inline-block;
}
.article-related li .caption .btn-readmore{
	margin-top:5px;
	margin-bottom:25px;
}
.article-related  .carousel-button{
	position:absolute;
	right:0;
	top:0;
}
.right-to-left .article-related  .carousel-button{
	right:auto;
	left:0;
}
.article-related  .carousel-button .prev,.article-related  .carousel-button .next{
	width:30px;
	height:30px;
	border:1px solid #3f383a;
	color:#3f383a;
	border-radius:50%;
	text-align:center;
}
.right-to-left .article-related  .carousel-button .prev,.right-to-left .article-related  .carousel-button .next{
	float:left;
}
.article-related  .carousel-button .prev{
	margin-right:5px;
}
.article-related  .carousel-button .prev .fa,.article-related  .carousel-button .next .fa{
	font-size:18px;
	vertical-align:top;
	line-height:28px;
}
.article-related  .carousel-button .prev:hover,.article-related  .carousel-button .next:hover{
	color: white;
	border:1px solid #79c753;
  background-color: #79c753;
}
.article-related  .carousel-button .next .fa{
	letter-spacing:-2px;
}


@media only screen and (min-width: 1200px) {
  .img-responsive {
    max-height: 180px;
    min-height: 180px;
  }
}

.tile {
	max-height: 475px;
	min-height: 475px;
}
