<div class="article-related">
  <h1 class="box-title">Liên quan</h1>
  <div class="carousel-button">
    <a id="prev_art_related" class="prev nav_thumb" (click)="prev()" style="display: inline-block;" title="prev"><i class="fa fa-angle-left"></i></a>
    <a id="next_art_related" class="next nav_thumb" (click)="next()" style="display: inline-block;" title="next"><i class="fa fa-angle-right"></i></a>
  </div>
  <div class="box-content bt-product-content" style="margin-left: 20px; margin-right:20px;">
    <div class="bt-items bt-product-grid">
      <ngx-carousel [inputs]="carouselTile">

        <ngx-tile NgxCarouselItem *ngFor="let item of carouselTileItems">
          <div class="bt-item-extra product-layout even element-3" *ngIf="isBlog">
            <section class="product-thumb bt-item transition">
              <div class="image">
                <img (click)="readMore(item)" src="{{item.photoUrl}}" alt="{{item.title}}" title="{{item.title}}" class="img-responsive" />
              </div>
              <div class="small_detail">
                <div class="caption">
                  <!-- <div class="name"><a>{{item.}}</a> -->
                  <a class=cursor-pointer>
                  <h4 (click)="readMore(item)" *ngIf="item.title.length > 18">{{item.title | slice:0:18}}...</h4>
                  <h4 (click)="readMore(item)" *ngIf="item.title.length < 18">{{item.title}}</h4>
                  </a>
                  <!-- </div> -->
                  <div class="ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                  <!-- <p class="price"> $122.00 </p> -->
                  <div class="title">
                    <p *ngIf="item.description.length > 100">{{item.description | slice:0:100}}...</p>
                    <p *ngIf="item.description.length < 100">{{item.description}}</p>
                  </div> <a class="btn-readmore" href="blog-detail.html">Read More</a>
                </div>
              </div>
            </section>
          </div>
          <div *ngIf="!isBlog">
            <app-product-item [product]="item" (details)="details($event)" ></app-product-item>
          </div>
        </ngx-tile>
        <button NgxCarouselPrev #prevButton class='leftRs hide'>&lt;</button>
        <button NgxCarouselNext #nextButton class='rightRs hide'>&gt;</button>

      </ngx-carousel>

    </div>
  </div>

  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
