<!-- <link *ngIf="stylesLoaded" rel="stylesheet" href="assets/css/styles.css" media="none" onload="if(media!='all')media='all'"> -->
<div id="bt_container" class="bt-wide">

  <div id="bt_header">
    <app-menu></app-menu>
  </div>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <div id="back_top" (click)="moveTop()" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
  <app-product-info></app-product-info>
</div>
