<div class="bt-breadcrumb">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-home"></i></a>
        </li>
        <li><a [routerLink]="['/blog']">Tin tức</a>
        </li>
        <!-- <input type="text" name="firstname" value="" placeholder="First Name" [(ngModel)]="name" id="input-firstname" class="form-control" required> -->

        <li *ngIf="heading()"><a>{{heading()}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="column-left" class="col-sm-3 hidden-xs">
      <div class="boss-search box">
        <div class="box-heading block-title">
          <h1 >Tìm kiếm tin tức</h1>
        </div>
        <div class="box-content">
          <div id="blogsearch" class="input-group">
            <input type="text" name="blogsearch" value="" #blogsearch placeholder="Tìm kiếm" (keyup)="search(blogsearch.value)" class="form-control input-lg">
            <span class="input-group-btn">
                                    <button type="button" (click)="search(blogsearch.value)" class="btn btn-search "><i class="fa fa-search"></i></button>
                                </span>
          </div>
        </div>
      </div>
      <!-- /.boss-search -->
      <!-- /.boss_blog-cat -->
      <div class="box block boss-recent-post">
        <div class="box-heading"> <span>Tin tức gần đây</span> </div>
        <div class="box-content block-content">
          <ol>
            <li class="item-recent-post" *ngFor="let item of items | async">
              <div class="image">
                <a class="article-title" (click)="readMore(item)"><img src="{{item.photoUrl}}" width="100" height="70" alt="{{item.title}}" title="{{item.title}}">
                                        </a>
              </div>
              <div class="title">
                <a class="article-title" (click)="readMore(item)">{{item.title}} </a>
                <small class="time-stamp">{{item.createdAt | date:'medium'}}</small>
              </div>
            </li>

          </ol>
        </div>
      </div>
      <!-- /.boss-recent-post -->

      <!-- /.bt-recent-comments -->
      <div class="bt-tagcloud box">
        <div class="box-heading block-title">
          <h1>Tags</h1> </div>
        <div class="box-content" style="text-align:left;"> <a href="#nsectetur" style="text-decoration:none;font-size:10px;font-weight:normal;" title="Rau quả">Rau quả</a> <a href="#dapibus" style="text-decoration:none;font-size:19px;font-weight:normal;" title="Giảm cân">Giảm cân</a> <a href="#quiblanditiis" style="text-decoration:none;font-size:22px;font-weight:normal;"
            title="Rau sức khỏe">Rau sức khỏe</a> <a href="#ducimus" style="text-decoration:none;font-size:10px;font-weight:normal;" title="Trái cây">Trái cây</a> <a href="#tristiqueu" style="text-decoration:none;font-size:13px;font-weight:normal;" title="Rau sạch">Rau sạch</a>          <a href="#tquas" style="text-decoration:none;font-size:13px;font-weight:normal;" title="Rau ký túc xá">Ký túc xá</a>
            <a href="#moll" style="text-decoration:none;font-size:22px;font-weight:normal;" title="Rau tươi">Rau tươi</a><a href="#adipiscing" style="text-decoration:none;font-size:22px;font-weight:normal;"
            title="Rau tốt cho sức khỏe">Tốt cho sức khỏe</a> <a href="#dignissimos" style="text-decoration:none;font-size:12px;font-weight:normal;" title="Rau cho sức khỏe">Rau cho sức khỏe</a> <a href="#risus" style="text-decoration:none;font-size:21px;font-weight:normal;" title="Rau an toàn">Rau an toàn</a> <a href="#deserunt"
            style="text-decoration:none;font-size:14px;font-weight:normal;" title="Mua rau">Mua rau</a> <a href="#praesentium" style="text-decoration:none;font-size:24px;font-weight:normal;" title="mua hoa quả">mua hoa quả</a> <a href="#aliquam" style="text-decoration:none;font-size:13px;font-weight:normal;"
            title="Rau cho mọi nhà">Rau cho mọi nhà</a> <a href="#dolorese" style="text-decoration:none;font-size:25px;font-weight:normal;" title="Cần rau an toàn">Cần rau an toàn</a> <a href="#stoporta" style="text-decoration:none;font-size:9px;font-weight:normal;" title="Mua rau sạch">Mua rau sạch</a> <a href="#volutpa"
            style="text-decoration:none;font-size:22px;font-weight:normal;" title="Hoa quả sạch">Hoa quả sạch</a> </div>
      </div>
      <!-- /.bt-tagcloud -->
      <div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
        <a title="banner left" [routerLink]="['/product']"> <img src="assets/images/banner/banner_home_left3.jpg" alt="banner"></a>
        <div class="text-info"> <span class="small-text">Những sản phẩm</span> <span class="large-text">Sạch sẽ, an toàn</span>
          <a [routerLink]="['/product']" class="btn-shopnow">Mua ngay</a> </div>
      </div>
      <!-- /.bt-banner-left -->
    </div>
    <!-- /#column-left -->
    <router-outlet ></router-outlet>
  </div>
  <!-- /.row -->
</div>
