.boss-search.box{
	margin-bottom:50px;
}
#blogsearch {
	position:relative;
	width:100%;
	line-height:0;
	margin-top:5px;
}
#blogsearch .form-control{
	margin-top:5px 0 10px;
	height:36px;
	padding:6px 10px;
	line-height:24px;
	border:1px solid #c9c9c9;
}
#blogsearch .form-control:focus{
	border:1px solid #303030;
}
#blogsearch .input-group-btn{
	display:inline-block;
	position:static;
}
#blogsearch .btn-search {
	background:transparent;
	color:#7c7c7c;
	border:none;
	height:36px;
	padding:6px 10px;
	position:absolute;
	right:0;
	top:0;
	z-index: 4px;
}
.right-to-left  #blogsearch .btn-search {
	left:0;
	right:auto;
}
#blogsearch .btn-search:hover{
	color:#303030;
}
#blogsearch .btn-search .fa{
	vertical-align:top;
	line-height:24px;
}
#blogsearch .btn-search:hover{color:#000}
.box.boss_blog-cat .box-content .box-category li a{
	display:block;
}
.box.boss_blog-cat .box-content .box-category li a span{
	color:#d3d3d3;
	float:right;
}
.right-to-left .box.boss_blog-cat .box-content .box-category li a span{
	float:left;
}
.box.boss_blog-cat .box-content .box-category> li:first-child a{
	border-top:none;
	padding-top:0;
}
.box.boss_blog-cat .box-content .box-category li a:hover span{
	color:#79c753;
}
.box.boss-recent-post  .box-heading span{
	text-transform: capitalize;
	color: #000;
	font-weight: 700;
}
.box.boss-recent-post  .box-heading span,#column-left .box  .box-heading.block-title h1,
 #column-right .box  .box-heading.block-title h1{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0.75em;
}
.box.boss_blog-cat{
	margin-bottom:40px;
}
.box.bt-recent-comments{
	margin-bottom:32px;
}
.box.boss-recent-post{
	margin-bottom:65px;
}
.boss-recent-post .item-recent-post{
	border-top:1px solid #f8f8f8;
	padding:10px 0;
	overflow:hidden;
}
.boss-recent-post .item-recent-post:first-child{
	border-top:none;
}
.boss-recent-post .item-recent-post .image{
	float:left;
	margin-right:10px;
}
.right-to-left .boss-recent-post .item-recent-post .image{
	float:right;
	margin-right:0;
	margin-left:10px;
}
.boss-recent-post .item-recent-post .image a{
	position:relative;
	display:block;
}
.boss-recent-post .item-recent-post .title{
	min-width:40%;
	overflow:hidden;
	line-height:1.55em;
}
.boss-recent-post .item-recent-post .title small{
	font-size:13px;
	color:#a1a1a1;
}
.boss-recent-post .item-recent-post .image a:before{
	height: 100%;
	width: 100%;
	content:"";
}
.boss-recent-post .item-recent-post .image a:before {
    box-shadow:0 0 0 0px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow:0 0 0 0px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow:0 0 0 0px rgba(0, 0, 0, 0.4) inset;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
}
.boss-recent-post .item-recent-post .image a:hover:before{
    opacity: 1;
    box-shadow:0 0 0 35px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow:0 0 0 35px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow:0 0 0 35px rgba(0, 0, 0, 0.4) inset;
}
.boss-recent-post .item-recent-post .image a:after {
    content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
    transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-webkit-transition:all 0.4s ease 0.2s;
	-moz-transition:all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
}
.boss-recent-post .item-recent-post .image a:hover:after {
	 transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}
.bt-recent-comments .box-content .recent-comment-item{
	border-top:1px solid #f8f8f8;
	padding-top:10px;
	margin-bottom:18px;
}
.bt-recent-comments .box-content .recent-comment-item:first-child{
	border-top:none;
	padding-top:0;
}
.bt-recent-comments .box-content .recent-comment-item .article-title{
	font-weight:700;
}
.bt-recent-comments .box-content .recent-comment-item .article-title,.comment-by{
	line-height:1.55em;
}
.bt-recent-comments .box-content .recent-comment-item .comment-by{
	color:#79c753;
}
.bt-recent-comments .box-content .recent-comment-item .time-stamp{
	font-size:13px;
	line-height:22px;
	color:#a1a1a1;
	margin:0;
}
.bt-recent-comments .box-content .recent-comment-item .item-content{
	font-style:italic;
	line-height:1.55em;
	margin-bottom:8px;
}
.article-filter{
	border: 1px solid #eaeaea;
    font-size: 13px;
    height: 42px;
    margin-bottom: 35px;
    overflow: hidden;
    padding:0 12px;
	margin-top:30px;
}
.article-filter .rss-feed{
	float:left;
	height:auto;
	margin-right:30px;
	margin-top:8px;
}
.right-to-left .article-filter .rss-feed{
	float:right;
	margin-right:0;
	margin-left:30px;
}
.article-filter .display {
    float: left;
}
.right-to-left .article-filter .display {
    float: right;
}
.article-filter  .display .btn-list,.article-filter  .display .btn-grid {
	background: none repeat scroll 0 0 transparent;
    border-color:#ebebeb;
    border-style: none solid;
    border-width: medium 1px;
    color: #666;
    line-height: 42px;
    outline: medium none;
    text-align: center;
    width: 40px;
}
.article-filter  .display .btn-list:hover,.article-filter  .display .btn-grid:hover,
.article-filter  .display .btn-list.active,.article-filter  .display .btn-grid.active {
	color:#79c753;
}
.article-filter .display .btn-list {
    margin-right: -4px;
}
.right-to-left .article-filter .display .btn-list {
    margin-right:0;
	margin-left:-4px;
}
.article-filter .limit-sort {
    overflow: hidden;
    text-align: right;
}
.article-filter .box_sort,.article-filter  .box_limit {
    float: right;
    margin-left: 20px;
}
.right-to-left .article-filter .box_sort,.right-to-left .article-filter  .box_limit {
    float: left;
    margin-left:0;
	margin-right:20px;
}
.article-filter .box_sort label + label:before, .article-filter .box_limit label + label:before {
    /*background: url("/assets/images/box_sort.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
}
.right-to-left .article-filter .box_sort label + label:before,.right-to-left  .article-filter .box_limit label + label:before {
	right:auto;
	left: 0;
}
.article-filter .box_sort label + label, .article-filter .box_limit label + label {
    position: relative;
}
.article-filter .limit-sort label {
    margin-bottom: 0;
}
.article-filter .box_sort label + label select, .article-filter .box_limit label + label select {
    border: medium none;
    cursor: pointer;
	outline:none;
}
.article-filter *{
	height: 100%;
}
