.boss_article-action{
	overflow:hidden;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:25px;
	margin-bottom:30px;
}

.article-title h1 {
	margin-top: 15px;
}

.boss_article-action .tags{
	float:left;
	width:70%;
}
.boss_article-action .tags ul{
	list-style:none outside none;
	margin:0px;
	padding:0
}
.boss_article-action .tags ul li{display:inline}
.boss_article-action .tags li a{
	float:left;
	color:#606060;
}
.boss_article-action .tags li a:hover{
	color:#4dbeee;
}
.boss_article-action .tags li + li a:before{
	content:" , ";
	margin-right:3px;
}
.boss_article-action .tags span{
	float:left;
	margin-right:8px;
	font-weight:700;
}
.boss_article-action .article-share{float:right;}
.boss_article-action .article-share img{
	height:16px;
	width:16px;
	margin-right:5px;
	float:left;
}
.boss_article-action .article-share span{
	float:left;
	text-indent:-9999px;
}


.boss_article-detail .comments {
	margin-bottom:68px;
}
.form-comment label em {
	color:#ff0000;
}
.form-comment-container .captcha{
	margin:15px 0;
}
.form-comment-container .captcha img{
	margin-bottom:5px;
}
.form-comment-container .input-box{
	margin-bottom:10px;
}
.comments .form-control{
	width:56%;
	margin-bottom: 30px;
}
#article-comments{
	margin-bottom:30px;
}
#article-comments .comment-item{
	border:1px solid #eaeaea;
	padding:12px 20px 15px ;
	margin-bottom:20px;
}
.comment-item .comment-item-header .comment-by{
	margin-right:20px;
}
.comment-item .comment-item-header .comment-by,.comment-item .comment-item-header .time-stamp {
	color:#a1a1a1;
}
.comment-item .comment-item-header .comment-by span{
	font-weight:700;
	color:#4dbeee;
	text-transform:uppercase;
	margin-left:5px;
}
.comment-item .comment-item-header .time-stamp {
	margin:0;
}
.comment-item .comment-item-header{
	margin-bottom:10px;
}
.comment-item  .comment-body{
	line-height:1.55em;
}
.pagination-results .results {
    color: #a0a0a0;
    font-size: 10px;
    font-weight: 700;
    margin-top: 9px;
    text-transform: uppercase;
}
.comments .pagination-results {
    margin-bottom: 25px;
}
.content_search{margin-bottom:8px}
.content_search .form-control{width:50%}
.content_search input [type="checkbox"], p >label.checkbox-inline  input{margin-top:0}
.boss-blog-search .form-control{width:50%}
.boss-blog-search+p {margin-bottom:20px;}
.article-layout .article_dt .article-content{
	line-height:1.55em;
	margin-bottom:10px;
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.article-related li .comment-count a:before { margin: 0 5px;}
	.article-filter .display{width:12%;}.article-filter .box_sort, .article-filter .box_limit {margin-left: 15px;width: 46%;}.article-filter .box_sort label + label::before, .article-filter .box_limit label + label::before{width:22px;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.article-filter .rss-feed {margin-right:12px;}
	.right-to-left .article-filter .rss-feed{margin-left:12px;}
	.article-filter .limit-sort {width:78%}
	.article-filter .box_sort{width:52%;}
	.article-filter .box_sort select{width:135px;}
	.article-filter .box_limit {width:40%; margin-left:5px;}
	.right-to-left .article-filter .box_limit {margin-left:0;margin-right:5px;}
	.article-filter .box_limit select{width:90px;}
	.boss-recent-post .item-recent-post .image {max-width:50%}
	.boss-recent-post .item-recent-post .title {line-height: 20px; min-width: 35%;}
	.article-list .content-bg{max-height:none}
}
@media only screen and (max-width: 767px) {
	.result-pagination.blog-pagination .links {float:none;}
	.comments .form-control {width: 100%;}
	a.btn-readmore{padding:8px 20px;}
	.article-related li .title {line-height: 21px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.article-layout.article-grid{width:50%;}
}
@media only screen and (max-width: 479px) {
	.boss_article-detail .product-related .carousel-button {top: 0;}

}
