<div *ngIf="showSpinner" class="sk-chasing-dots" style="margin-top: 30%; margin-left: 50%">
  <div class="sk-child sk-dot1"></div>
  <div class="sk-child sk-dot2"></div>
</div>
<div class="container" *ngIf="isNotFound">
    <div class="jumbotron" style="background-color: transparent;">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> Có vẻ như không thấy tin tức nào </small></p></h1>
        <p class="text-center">Nhấn vào nút bên dưới để quay lại .</p>
        <p class="text-center"><a class="btn btn-primary" routerLink="/blog"><i class="fa fa-home"></i> Quay về</a></p>
    </div>
</div>
<div id="content" class="col-sm-9" *ngIf="blog">
  <div class="boss_article-item boss_article-detail">
    <div class="content_bg">
      <div class="article-title"> <img src="{{blog.photoUrl}}" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree ">
        <h1 class="article-title-boss">{{blog.title}} </h1>
        <div class="date-post">
          <small class="time-stamp time-article">{{blog.createdAt | date:'medium'}}</small>
          <span class="comment-count"><span>{{comments.length}}</span> nhận xét</span>
        </div>
      </div>
      <div class="article-content" [innerHTML]="blog.content">

      </div>
      <div class="boss_article-action">
        <div class="tags"><span>Tags: </span>
          <ul>
            <li class="item" *ngFor="let item of blog.tags"><a>{{item}}</a>
            </li>
          </ul>
        </div>
        <div class="article-share">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_default_style"><a class="addthis_button_compact">Chia sẻ</a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_print"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
          </div>

          <!-- AddThis Button END -->
        </div>
      </div>
      <!-- /.boss_article-action -->
    </div>
    <div id="review">
      <div class="box-review" *ngFor="let comment of comments | paginate: config">
        <p>{{comment.comment}}</p>
        <p class="author">by <span>{{comment.user}}</span>{{comment.createdAt | date:'medium'}}</p>
      </div>
      <!-- <div class="box-review">
        <p>Holy night away supper standar natural ensua xitua las is very navar.</p>
        <p class="author">by <span>Admin</span> 09/01/2015</p>
      </div> -->
      <div class="text-right"></div>
    </div>
    <app-pagination [config]="config" [isTop]="bottom"></app-pagination>
    <app-blog-slider [blogs]="relatedBlogs" [title]="getTitle()" [isBlog]="true" (updateBlog) ="updateBlog($event)"></app-blog-slider>
    <!-- /.article-related -->
    <div class="row comment_row">
      <div class="comments">
        <div id="article-comments"></div>
        <div class="form-comment-container">
          <div id="new">
            <h1>Nhận xét </h1> </div>
          <div id="0_comment_box" class="form-comment content_bg">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="field" id="username">
                <label class="" for="name">Tên của bạn<em>*</em>
											</label>
                <div class="input-box">
                  <input type="text" [(ngModel)]="comment.user" class="form-control required-entry" value="" title="Name" id="name" name="username">
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="input-box-comment">
                <label class="tt_input" for="comment">Nhận xét<em>*</em>
											</label>
                <textarea rows="2" cols="10" class="required-entry form-control" [(ngModel)]="comment.comment" style="height:200px" title="Comment" id="comment" name="comment_content"></textarea>
              </div>
              <div class="submit-button">
                <div class="left"><a id="button-comment" (click)="createComment()" class="btn btn-submit">Gửi</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.comments -->
    </div>
  </div>
  <!-- /.boss_article-item -->
  <div class="bt-facecomments">
    <div class="row">
      <div class="col-sm-12">
        <!--<div class="fb-comments" data-href="#" data-colorscheme="light" data-numposts="5" data-order-by="reverse_time"></div>-->
      </div>
    </div>
    <div id="fb-root"></div>
  </div>
  <!-- /.bt-facecomments -->
</div>
