<div id="content" class="col-sm-12 col-sm-9">
  <h1 class="page-title">Cài lại mật khẩu</h1>
  <p>Mật khẩu mới sẽ được gửi đến email của bạn.</p>
  <form role="form" #formData='ngForm' (ngSubmit)="resetPassword()" enctype="multipart/form-data" class="form-horizontal register">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <fieldset>
        <h1 class="drug_info_wrapper">Nhập email</h1>
        <div class="required">
          <label class="control-label" for="email">Email</label>
          <input type="email" name="email" value="" placeholder="Email" [(ngModel)]="email" id="email" class="form-control" required>
        </div>
      </fieldset>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buttons">
        <div class="button-register">
          <!-- <button type="submit" [disabled]="!formData.valid || showSpinner" value="Update" class="btn btn-gray">
            Update<i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
          </button> -->
          <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn-blue">
            Cập nhật
            <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="col-sm-12">
    <div class="alert alert-warning fade in" role="alert" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert" (click)="closeAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> {{error}}
    </div>
    <div class="alert alert-success fade in" role="alert" *ngIf="success">
      <button type="button" class="close" data-dismiss="alert" (click)="closeAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Success!</strong> {{success}}
    </div>
  </div>
</div>
