<div class="container">
  <div role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        <a routerLink="/" class="navbar-brand">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/']">Trang chủ</a>
          </li>

          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/blog']">Tin tức</a>
          </li>

          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/product']">Sản phẩm</a>
          </li>

          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/contact-us']">Liên hệ</a>
          </li>

          <li [routerLinkActive]="['active']" *ngIf="(user | async)?.uid">
            <a [routerLink]="['/add-blog']">Thêm tin tức</a>
          </li>


          <li [routerLinkActive]="['active']" *ngIf="(user | async)?.uid">
            <a [routerLink]="['/add-product']">Thêm sản phẩm</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="(user | async)?.uid">
          <li class="dropdown">
            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">{{name.displayName}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li >
            <a class="cursor-pointer" (click)="logout()">Đăng xuất</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!(user | async)?.uid">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/login']">Đăng nhập</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
