<div id="content" class="col-sm-12 col-sm-9">
  <h1 class="page-title">Đăng ký tài khoản</h1>
  <p>Nếu bạn đã có tài khoản. Vui lòng <a [routerLink]="['/account/login']">Đăng nhập</a>.</p>
  <form role="form" #formData='ngForm' (ngSubmit)="signUp()" enctype="multipart/form-data" class="form-horizontal register">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <fieldset id="account">
        <h1 class="drug_info_wrapper">Thông tin cá nhân</h1>
        <div class="required">
          <label class="control-label" for="input-firstname">Họ</label>
          <input type="text" name="firstname" value="" placeholder="Họ" [(ngModel)]="user.firstName" id="input-firstname" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-lastname">Tên</label>
          <input type="text" name="lastname" value="" placeholder="Tên" [(ngModel)]="user.lastName" id="input-lastname" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-email">E-Mail</label>
          <input type="email" name="email" value="" placeholder="E-Mail" [(ngModel)]="user.email" id="input-email" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-telephone">Số điện thoại</label>
          <input type="tel" name="telephone" value="" placeholder="Số điện thoại" [(ngModel)]="user.phoneNumber" id="input-telephone" class="form-control" required> </div>
      </fieldset>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <fieldset>
        <h1 class="drug_info_wrapper">Mật khẩu</h1>
        <div class="required">
          <label class="control-label" for="input-password">Mật khẩu</label>
          <input type="password" name="password" value="" placeholder="Mật khẩu" [(ngModel)]="password" id="input-password" class="form-control" required> </div>
        <div class="required">
          <label class="control-label" for="input-confirm">Nhập lại mật khẩu</label>
          <input type="password" name="confirm" value="" placeholder="Xác nhận mật khẩu" id="input-confirm" class="form-control" required> </div>
      </fieldset>
      <div class="buttons">
        <div class="checkbox-agree">
          <input type="checkbox" name="agree" value="1"> Tôi đồng ý các <a href="privacy-policy.html" class="agree"><b>điều khoản</b></a> </div>
        <div class="button-register">
          <button type="submit" [disabled]="!formData.valid || showSpinner" value="Update" class="btn btn-gray">
            Tiếp tục<i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

  </form>

  <div class="col-sm-12">
    <div class="alert alert-warning fade in" role="alert" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert" (click)="closeAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> {{error}}
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="main">
    <div class="col-md-6 col-md-offset-3">
      <h3 >Sign Up</h3>

      <form role="form" #formData='ngForm' (ngSubmit)="signUp(formData)">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" (ngModel)="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="inputName">Photo</label>
          <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" [(ngModel)]="photoName" name="no-idea" disabled="disabled">
                  <span class="input-group-btn">
                      <div class="btn btn-default image-preview-input" *ngIf="selectedPhoto" (click)="clearImage()">
                          <i class="fa fa-times" aria-hidden="true"></i> Clear
                      </div>
                      <div class="btn btn-default image-preview-input">
                          <i class="fa fa-folder-open" aria-hidden="true"></i>
                          <span class="image-preview-input-title">Browse</span>
                          <input type="file" accept="image/png, image/jpeg, image/gif" (change)="detectFiles($event)" name="input-file-preview"/>
                      </div>
                  </span>
              </div>
        </div>
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="inputUsernameEmail" (ngModel)="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" (ngModel)="password" name="password" required>
        </div>
        <button type="submit" [disabled]="!formData.valid" class="btn btn btn-primary">
          Create my account
        </button>
      </form>
      <div class="alert alert-warning fade in" role="alert" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert" (click)="closeError()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Warning!</strong> {{error}}
      </div>
    </div>
  </div>
</div> -->
