<div class="container">
	<div *ngFor="let item of items | async">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3">
				<a href="#">
				  <img *ngIf="item.photoUrl" src="{{item.photoUrl}}" class="img-responsive img-box img-thumbnail">
	        <i class="fa fa-file-image-o fa-5 img-responsive img-box img-thumbnail" *ngIf="!item.photoUrl" aria-hidden="true"></i>
	      </a>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9">
				<div class="list-group">
					<div class="list-group-item">
						<div class="row-picture">
							<a href="#" title="PhuQuyUit">
                <img class="circle img-thumbnail img-box" src="{{item.authorImage}}" alt="PhuQuyUit">
              </a>
						</div>
						<div class="row-content">
							<div class="list-group-item-heading">
								<a href="#" title="PhuQuyUit">
	              	<small>{{item.author}}</small>
	              </a>
							</div>
							<small>
	              <i class="fa fa-clock-o" aria-hidden="true"></i> {{item.createdAt}} via <span class="twitter"> <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/sintret" alt="PhuQuyUit" title="PhuQuyUit">@PhuQuyUit</a></span>
	              <br>
	              <span class="explore"><i class="fa fa-th" aria-hidden="true"></i> <a href="#">Explore 2 places </a></span>
	            </small>
						</div>
					</div>
				</div>
				<h4><a [routerLink]="['/blog', item.title]" >{{item.title}}</a></h4>
				<p *ngIf="item.description.length > 150">{{item.description | slice:0:150}}...</p>
				<p *ngIf="item.description.length < 150">{{item.description}}</p>
			</div>
		</div>
		<hr>
	</div>
</div>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
