.article-layout {
  transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
}

.article-layout .content-bg {
  border: 1px solid #d7d7d7;
  padding: 0;
  overflow: hidden;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  min-height: 520px;
  max-height: 520px;
}

.article-image {
  position: relative;
}

.article-grid .article-image {
  margin-bottom: 14px;
}

.article-grid .article-image img {
  width: 100%;
}

.article-layout .article-image, .article-layout .article-image img, .article-related .content-articles .relt-article .image, .article-related .content-articles .relt-article .image img {
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
}

.article-layout .article-image, .article-related .content-articles .relt-article .image {
  background: #79c753;
}

.article-layout .article-image:hover img, .article-related .content-articles .relt-article .image:hover img {
  transform: scale(0.92);
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
}

.article-name a {
  color: #f7941d;
  /*font-family: "Lato",sans-serif;*/
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.article-name a:hover {
  color: #79c753;
}

.article-layout .article_dt {
  padding: 0 8px 20px 18px;
}

.right-to-left .article-layout .article_dt {
  padding: 0 18px 20px 8px;
}

.article-layout .article_dt .article-title {
  line-height: 1.55em;
}

a.btn-readmore, .comments .submit-button .btn-submit {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #3c3b48;
  text-transform: uppercase;
  border: 1px solid #3c3b48;
  background: #fff;
  padding: 8px 30px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
}

a.btn-readmore:hover, .comments .submit-button .btn-submit:hover {
  color: #fff;
  background: #3c3b48;
}

.article-grid {
  display: inline-block;
  float: none;
  margin-bottom: 40px;
  margin-right: -3px;
  vertical-align: top;
}

.time-stamp {
  font-size: 13px;
  color: #797979;
  font-weight: 400;
  line-height: 22px;
  display: block;
}

.article-layout .time-stamp {
  margin: 10px 0 20px;
}

.article-list {
  margin-bottom: 30px;
}

.article-list .content_bg {
  max-height: 302px;
}

.article-list .article-image {
  float: left;
  margin-right: 30px;
  max-width: 50%;
  margin-bottom: 0;
}

.right-to-left .article-list .article-image {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}

.article-list .article_dt {
  float: none;
  display: block;
  overflow: hidden;
  padding-left: 0;
  padding-top: 25px;
}

.right-to-left .article-list .article_dt {
  padding-right: 0;
  padding-left: 8px;
  padding-top: 25px;
}
/*article detail*/

.boss_article-detail .article-title img {
  margin-bottom: 25px;
}

.boss_article-detail .article-title h2.article-title-boss {
  color: #3c3b48;
  line-height: 24px;
  margin-bottom: 0;
}

.boss_article-detail .article-title .date-post .time-stamp.time-article {
  margin-bottom: 10px;
  display: inline-block;
}

.boss_article-detail .article-title .date-post .comment-count {
  font-size: 13px;
  line-height: 22px;
  color: #79c753;
}

.boss_article-detail .article-title .date-post .comment-count:before {
  content: "|";
  margin: 0 8px;
}

.boss_article-detail .article-content {
  line-height: 1.55em;
}

.boss_article-detail .article-content p {
  margin-bottom: 20px;
}

.boss_article-action {
  overflow: hidden;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.boss_article-action .tags {
  float: left;
  width: 70%;
}

.boss_article-action .tags ul {
  list-style: none outside none;
  margin: 0px;
  padding: 0
}

.boss_article-action .tags ul li {
  display: inline
}

.boss_article-action .tags li a {
  float: left;
  color: #606060;
}

.boss_article-action .tags li a:hover {
  color: #4dbeee;
}

.boss_article-action .tags li+li a:before {
  content: " , ";
  margin-right: 3px;
}

.boss_article-action .tags span {
  float: left;
  margin-right: 8px;
  font-weight: 700;
}

.boss_article-action .article-share {
  float: right;
}

.boss_article-action .article-share img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  float: left;
}

.boss_article-action .article-share span {
  float: left;
  text-indent: -9999px;
}

.img-responsive {
  max-height: 180px;
  min-height: 180px;
}

@media (min-width: 990px) and (max-width: 1200px){
  .article-title>p {
    font-size: 14px;
  }
}
