<div id="content" class="col-sm-9">
  <!-- <h1 style="margin-bottom:15px">Blog</h1> -->
  <div class="product-filter">
    <div class="link-compare"><a id="compare-total">Thanh công cụ</a>
    </div>
    <!-- /.link-compare -->
    <!-- /.display -->
    <div class="limit-sort hidden-xs" style="width: 79%">
      <div class="box_sort">
        <label class="control-label" disabled for="input-sort">Sắp xếp:</label>
        <label>
                                <select disabled id="input-sort" class="form-control" >
                                    <option value="sort=p.sort_order&amp;order=ASC" selected="selected">Mặc định</option>
                                    <option value="sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                    <option value="sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                    <option value="sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                    <option value="sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                    <option value="sort=rating&amp;order=DESC">Rating (Highest)</option>
                                    <option value="sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                    <option value="sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                    <option value="sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                </select>
                            </label>
      </div>
      <div class="box_limit">
        <label class="control-label" for="input-limit">Hiển thị:</label>
        <label>
          <select id="input-limit" class="form-control" [(ngModel)]="config.itemsPerPage">
              <option value="6" selected="selected">6</option>
              <option value="12">12</option>
              <option value="24">24</option>
          </select>
       </label>
      </div>
    </div>
    <!-- /.limit-sort -->
  </div>

  <div *ngIf="showSpinner" class="sk-chasing-dots" style="margin-top: 30%; margin-left: 50%">
    <div class="sk-child sk-dot1"></div>
    <div class="sk-child sk-dot2"></div>
  </div>
  <div class="row">
    <input type="text" style="display: none" name="filter" [(ngModel)]="filter">
    <div class="article-layout article-grid col-md-4 col-sm-6 col-xs-12" *ngFor="let item of items | async | filter:filter :key |  paginate: config">
      <div class="content-bg">
        <div class="article-image">
          <a>
            <img (click)="readMore(item)" src="{{item.photoUrl}}" alt="{{item.title}}" title="{{item.title}}" class="img-responsive">
          </a>
        </div>
        <div class="article_dt">
          <div class="article-name">
            <h2><a class="cursor-pointer" (click)="readMore(item)">{{item.title}} </a></h2> </div>
          <div class="time-stamp"> {{item.createdAt | date:'medium'}} </div>
          <div class="article-title">
            <p *ngIf="item.description.length > 140" class="smaller">{{item.description | slice:0:140}}...</p>
            <p *ngIf="item.description.length < 140" class="smaller">{{item.description}}</p>
          </div> <a class="btn-readmore" (click)="readMore(item)">Read more</a> </div>
      </div>
    </div>

  </div>

  <app-pagination [config]="config" [isTop]="bottom"></app-pagination>
</div>
