<div class="container">
  <div class="row">
      <ul class="breadcrumb">
          <li><a [routerLink]="['/']"><i class="fa fa-home"></i></a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/account']">Tài khoản</a>
          </li>
          <li *ngIf="heading()"><a>{{heading()}}</a>
          </li>
      </ul>
  </div>
  <div class="row">
      <div id="column-left" class="col-sm-3 hidden-xs">
          <div class="box account">
              <div class="box-heading">Tài khoản</div>
              <div class="box-content">
                  <ul>
                      <li *ngIf="!auth" [routerLinkActive]="['active']"><a [routerLink]="['/account/login']">Đăng nhập</a></li>
                      <li *ngIf="auth" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/account']">Tài khoản</a></li>
                      <li [routerLinkActive]="['active']"><a [routerLink]="['/account/register']">Đăng ký</a></li>
                      <li [routerLinkActive]="['active']"><a [routerLink]="['/account/forgot-password']">Quên mật khẩu</a></li>
                      <li *ngIf="auth" (click)="logout()"><a>Đăng xuất</a></li>
                  </ul>
              </div>
          </div>
          <div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
              <a title="banner left" [routerLink]="['/product']"> <img src="assets/images/banner/banner_home_left3.jpg" alt="banner"></a>
              <div class="text-info"> <span class="small-text">02 Products</span> <span class="large-text">BEAUTY</span>
                <a [routerLink]="['/product']" class="btn-shopnow">Shop Now</a> </div>
          </div><!-- /.bt-banner-left -->
      </div><!-- /#column-left -->
      <router-outlet></router-outlet>
  </div>
</div>
