@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 95%;
  }
  #boss-search {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  #boss-search .choose-select {
    float: right;
  }
  .right-to-left #boss-search .choose-select {
    float: left;
  }
  .bt-staticblock-shopnow>div {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .bt-staticblock-shopnow img {
    width: 100%
  }
  .bt-staticblock-shopnow .bt-item-left {
    margin-bottom: 30px;
  }
  .bt-staticblock-shopnow .bt-item-left, .bt-staticblock-shopnow .bt-item-right {
    padding: 0;
  }
  .bt-statickblock-learmore .bt-banner-title h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .bt-statickblock-learmore .bt-banner-title {
    bottom: 15%;
    left: 3%;
  }
  .bt-service .bt-service-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bt-service .bt-service-content h2 {
    padding: 0;
  }
  .bt-service .bt-service-content .btn {
    padding: 8px 20px;
  }
  .bt-staticblock-college .large-text {
    font-size: 34px;
    line-height: 38px;
  }
  .bt-staticblock-college>a:before, .bt-staticblock-diet:hover>a:before, .bt-staticblock-babyneeds:hover>a:before, .bt-banner-left:hover>a:before {
    border: 95px solid rgba(0, 0, 0, 0.4);
  }
  .bt-staticblock-diet .text-info .small-text:after, .bt-staticblock-babyneeds .text-info .small-text:after, .bt-banner-left .text-info .small-text:after {
    right: -24px;
  }
  .bt-staticblock-diet .text-info .small-text:before, .bt-staticblock-diet .text-info .small-text:after, .bt-staticblock-babyneeds .text-info .small-text:before, .bt-staticblock-babyneeds .text-info .small-text:after, .bt-banner-left .text-info .small-text:before, .bt-banner-left .text-info .small-text:after {
    width: 18px;
  }
  .bt-staticblock-diet .text-info .small-text:before, .bt-staticblock-babyneeds .text-info .small-text:before, .bt-banner-left .text-info .small-text:before {
    left: -20px;
  }
  .bt-staticblock-diet .text-info .large-text, .bt-staticblock-babyneeds .text-info .large-text, .bt-banner-left .text-info .large-text {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .boss-blog-featured .box-content .box-article .article_content .image {
    float: none;
    margin: 0 0 20px;
    width: 100%
  }
  .boss-blog-featured .box-content .box-article .article_content .image img {
    width: 100%;
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding: 0 15px 15px;
  }
  .bt-footer-middle .footer-social ul li {
    margin-right: 2px;
  }
  .right-to-left .bt-footer-middle .footer-social ul li {
    margin-left: 2px;
    margin-right: 0;
  }
  .product-thumb .caption, .product-related ul li .relt_product .caption {
    padding: 0 15px 30px;
  }
  .product-grid {
    width: 50%;
  }
  .bt-block-category .block-title h4:before, .bt-block-category .block-title h4:after {
    width: 45px;
  }
  .bt-block-category .block-title h4:after {
    right: -53px;
  }
  .bt-block-category .block-title h4:before {
    left: -53px;
  }
  .bt-block-category .block-title {
    right: 5%;
    top: 18%;
  }
  .bt-block-category .block-title h2 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 22px;
  }
  .htabs ul li a {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bt-featured-pro.bt-prolarge-nslider .box-content>div {
    width: 100%;
  }
  .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large {
    padding: 0;
    margin-bottom: 30px;
  }
  .button-group .btn-cart {
    padding: 10px 12px;
  }

  #boss-search .choose-select #search .form-control {
    width: 680px;
  }
}
