@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
  }
  #currency, #language {
    margin-right: 15px;
  }
  .right-to-left #currency, .right-to-left #language {
    margin-right: 0;
  }
  .product-layout.product-grid {
    width: 50%;
  }
  .content-search .box-search .form-control, .content-search .box-search-cate .form-control {
    width: 70%;
  }
  #content {
    min-height: 750px;
  }
  .cart-info .table td.image, .wishlist-info .table td.image {
    width: 25%;
  }
  .cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name {
    width: 75%;
  }
  .bt-statickblock-learmore .bt-banner-title {
    bottom: 15%;
    left: 2%;
  }
  .bt-statickblock-learmore .bt-banner-title h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .bt-block-category .block-title {
    top: 22%;
  }
  .bt-block-category .block-title h4:before, .bt-block-category .block-title h4:after {
    width: 40px;
  }
  .bt-block-category .block-title h4:before {
    left: -48px;
  }
  .bt-block-category .block-title h4:after {
    right: -48px;
  }
  .bt-block-category .block-title h2 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 25px;
  }

  .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 20px;
    max-width: 50%;
  }
  .right-to-left .boss-blog-featured .box-content .box-article .article_content .image {
    margin-right: 0;
    margin-left: 20px;
  }
  .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding: 10px 10px 10px 0;
  }
  .right-to-left .boss-blog-featured .box-content .box-article .article_content .article-detail {
    padding: 10px 0 10px 10px;
  }
  h1.block-title+.table+.buttons .btn-gray+.btn-blue {
    margin-top: 10px;
  }
}
