@media only screen and (max-width: 630px) {
  .cart-info .table td.image, .wishlist-info .table td.image {
    width: 35%;
  }
  .cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name {
    width: 65%;
  }
  .bt-statickblock-learmore .bt-banner-title h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .bt-statickblock-learmore .bt-banner-title p {
    font-size: 13px;
    line-height: 16px;
  }
  .bt-statickblock-learmore .bt-banner-title {
    bottom: 10%;
    left: 3%;
  }
  .bt-block-category .block-title {
    top: 20%;
  }
  .bt-block-category .block-title h4:before, .bt-block-category .block-title h4:after {
    width: 40px;
  }
  .bt-block-category .block-title h4:before {
    left: -48px;
  }
  .bt-block-category .block-title h4:after {
    right: -48px;
  }
  .bt-block-category .block-title h2 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .bt-block-category .block-title .btn {
    padding: 8px 16px 10px;
  }
}
