@media only screen and (min-width: 371px) and (max-width: 400px) {
  #logo img {
    width: 85%;
  }
  .bt-item-left .bt-banner-title h3 {
    font-size: 34px;
    line-height: 36px;
  }
  .bt-item-right .bt-banner-title h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .bt-item-right .bt-banner-title p+p {
    margin-bottom: 5px;
  }
  .bt-statickblock-learmore .bt-banner-title h2 {
    font-size: 16px;
    line-height: 18px;
  }
  .bt-statickblock-learmore .bt-banner-title p {
    font-size: 12px;
  }
}
