@media only screen and (max-width: 1190px) {
  .btn-quickshop {
    display: none !important;
  }
  .button-group .btn-cart {
    padding: 10px 18px;
    margin-bottom: 5px;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .product-related .relt_product .image img {
    width: 100%;
  }

  .header_category .box-content .box-category.boss-menu-cate>li>.nav_title a span {
    top: 12px;
  }
}
