@media (min-width: 768px) {
  .drop-grid-6-6, .drop-grid-5-5, .drop-grid-4-4, .drop-grid-3-3, .drop-grid-2-2, .drop-grid-1-1 {
    width: 748px;
  }
  .dropdown {
    max-width: 748px;
  }

  #column-left .product-layout .col-md-3 {
    width: 100%;
  }
  #column-left+#content .product-layout .col-md-3 {
    width: 50%;
  }
  #column-left+#content+#column-right .product-layout .col-md-3 {
    width: 100%;
  }
  #content+#column-right .product-layout .col-md-3 {
    width: 100%;
  }
}
