@media only screen and (max-width: 767px) {
  .openNav #bt_container {
    overflow: visible;
  }
  /*header*/
  .boss_header.boss_scroll, .menu.boss_scroll {
    position: static
  }
  .boss_header+.container {
    margin-top: 0;
  }
  .bt-staticblock-freeshipping, .header_slider {
    width: 100%;
  }
  #top {
    background: none !important;
    border: none;
    position: absolute;
    right: 50px;
    top: 38px;
    z-index: 21;
    padding: 0;
  }
  .right-to-left #top {
    left: 50px;
    right: auto
  }
  .right-to-left #top #top-links.pull-right {
    width: auto
  }
  .right-to-left header>div>div .col-sm-3 {
    width: 100%;
  }
  .right-to-left #top ul.list-inline {
    margin-left: 0;
  }
  .right-to-left #currency {
    margin-right: 0;
  }
  #bt_header {
    position: relative;
  }
  header {
    background: #efefef;
    padding: 30px 15px 28px;
    margin-bottom: 30px;
  }
  #logo {
    text-align: center;
    margin-left: 0;
    width: 100%;
    padding: 0;
    float: none;
    margin-top: -10px;
  }
  #logo a, #top .pull-right ul.list-inline>li.dropdown>a {
    display: inline-block;
  }
  #logo img {
    margin: 0 auto
  }
  #top #top-links .list-inline .dropdown a {
    display: block
  }
  #top .pull-right ul.list-inline>li, .bt-language, .bt-currency, #top #left_top_links, .bt-block-call-us {
    display: none;
  }
  #top .pull-right ul.list-inline>li.dropdown {
    padding: 0 0 12px;
    display: block;
  }
  #cart {
    width: auto;
    float: none;
    position: absolute;
    right: 15px;
    top: 38px;
    margin-left: 0;
    padding-top: 0;
  }
  .right-to-left #cart {
    left: 15px;
    right: auto;
  }
  #cart>.btn, #top .pull-right ul.list-inline>li.dropdown>a, #top .pull-right ul.list-inline>li.dropdown>a>i {
    font-size: 0;
  }
  #cart>.btn, #top .pull-right ul.list-inline>li.dropdown>a {
    width: 30px;
    height: 30px;
    border: 1px solid #dedede;
    text-align: center;
  }
  #cart>.btn {
    color: #434343;
    padding: 0;
  }
  #cart>.btn, #cart.open>.btn, #cart>.btn:hover {
    background: transparent;
  }
  #cart>.btn .fa, #top .pull-right ul.list-inline>li.dropdown>a .fa {
    vertical-align: top;
    line-height: 28px;
    margin: 0
  }
  #cart .dropdown-menu {
    min-width: 310px;
  }
  #top .pull-right ul.list-inline>li>a span .fa {
    display: block;
  }
  #currency .dropdown-menu, #language .dropdown-menu {
    left: 0;
    right: auto;
  }
  #top ul.list-inline {
    float: right;
    margin: 0;
    text-align: right
  }
  .right-to-left #top .dropdown-menu {
    left: 0;
    right: auto
  }
  #top #top-links.pull-right .pull-right {
    float: right !important;
  }
  .header_category, #boss-search .input_cat {
    display: none;
  }
  #search .form-control {
    width: 100%;
  }
  #boss-search .choose-select>div select, #search .form-control, #search .btn {
    height: 40px;
    line-height: 36px;
  }
  #search .btn .fa {
    font-size: 16px;
    line-height: 40px;
  }
  #boss-search, #boss-search .choose-select, #boss-search .choose-select>div {
    float: none;
    width: 100%;
  }
  #search, #boss-search .choose-select {
    width: 100%;
  }
  #search .input-group-btn {
    display: block;
    right: 2px;
  }
  .right-to-left #search .input-group-btn {
    right: auto;
    left: 2px;
  }
  .header_slider {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header_category.menucategory-fixed {
    display: none !important;
  }
  .bt-mobile .bt-language, .bt-mobile .bt-currency {
    display: inline-block;
    float: none;
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
  }
  .bt-mobile .bt-currency {
    margin-right: 0;
    margin-left: 0;
  }
  .bt-mobile .language, .bt-mobile .currency {
    margin: 0;
  }
  .bt-mobile .language .btn-group>.btn, .bt-mobile .currency .btn-group>.btn {
    background: #fff;
    font-size: 14px;
    width: 140px;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    line-height: 30px;
    float: none;
    border: none;
  }
  .bt-mobile .dropdown-menu {
    text-transform: uppercase
  }
  .bt-mobile .language .btn i, .bt-mobile .currency .btn i {
    margin-left: calc(50%);
  }
  .right-to-left .bt-mobile .language .btn i, .right-to-left .bt-mobile .currency .btn i {
    margin-left: 0;
    margin-right: calc(50%);
  }
  .bt-mobile .language .dropdown-menu, .bt-mobile .currency .dropdown-menu {
    left: 0;
    right: auto;
  }
  .bt-mobile .logged-link {
    border-top: 1px solid #444;
    position: relative;
    padding: 40px 0;
    overflow: hidden;
  }
  .bt-mobile .logged-link:before {
    content: "";
    border-left: 1px solid #444;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    position: absolute;
  }
  .bt-mobile {
    display: block;
    background: #343434;
    height: auto;
    left: -90%;
    /*z-index: 1000;*/
    position: absolute;
    top: 0;
    width: 90%;
    margin-bottom: 0;
    border: none;
    float: right;
    padding: 50px 0 80px;
    text-align: center;
    min-height: 800px;
  }
  .bt-mobile .logged-link>a {
    color: #fffefe;
    text-transform: capitalize;
    display: block;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    float: left;
    width: 50%;
  }
  .bt-mobile .logged-link>a i {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 40px;
    color: #3d3b48;
    margin-bottom: 12px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
  .bt-mobile .logged-link>a:hover, .bt-mobile .logged-link>a:hover i {
    color: #4dbeee;
  }
  /*homepage*/
  .boss_header {
    display: none;
  }
  #content.col-sm-12, .boss-blog-featured, .bt-product-category {
    padding: 0 15px;
  }
  .bt-staticblock-shopnow>div {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto
  }
  .bt-staticblock-shopnow img {
    width: 100%;
  }
  .bt-staticblock-shopnow .bt-item-left, .bt-staticblock-shopnow .bt-item-right {
    padding: 0;
  }
  .bt-staticblock-shopnow .bt-item-left {
    margin-bottom: 30px;
  }
  .bt-service .bt-service-items+.bt-service-items {
    margin-top: 30px;
  }
  .boss-blog-featured .box-content .box-article .article-items {
    display: block;
    width: 100%;
    margin: 0 0 30px;
  }
  .bt-featured-pro .boss-category-pro {
    width: 100%;
    float: none;
  }
  .bt-featured-pro .boss-category-pro+.boss-category-pro {
    margin-top: 30px;
  }
  .bt-featured-pro.bt-prolarge-nslider .box-content>div {
    width: 100%;
  }
  .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large {
    padding: 0;
    margin-bottom: 30px;
  }
  /*footer*/
  .bt-footer-middle .bt-block-footer {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .bt-footer-middle .footer-social {
    width: 100%;
  }
  footer .bt-footer-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bt-footer-bottom .payment {
    float: none;
    text-align: left;
    margin-top: 0;
  }
  .right-to-left .bt-footer-bottom .payment {
    text-align: right;
  }
  .bt-footer-bottom .powered {
    margin-bottom: 10px;
    float: none;
  }
  .bt-footer-bottom .payment ul li:first-child {
    margin-left: 0
  }
  .right-to-left .bt-footer-middle .bt-block-footer+div+div, .bt-footer-middle .footer-social {
    padding-right: 15px;
  }
  .bt-footer-middle .bt-contact-me {
    margin-bottom: 30px;
  }
  /*category*/
  .bt-breadcrumb {
    padding: 0 15px;
  }
  #column-left+#content.col-sm-9, .right-to-left .bt-home-page #column-left+#content.col-sm-9 {
    padding-right: 15px;
  }
  .right-to-left #column-left+#content.col-sm-9, .bt-home-page #column-left+#content.col-sm-9 {
    padding-left: 15px;
  }
  .product-filter .link-compare {
    width: 100%
  }
  .product-grid .product-thumb .image img {
    width: 100%
  }
  .result-pagination {
    margin-top: 10px;
  }
  .product-info .col-sm-6+.col-sm-6 {
    padding-left: 15px;
  }
  .htabs ul li a {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /*cart*/
  .cart-info, .checkout .table-responsive {
    border: none;
  }
  .cart-module .form-control, #content.col-sm-9 .cart-module .form-control {
    width: 100%
  }
  .cart-total+.buttons .pull-right {
    float: left;
    margin-top: 20px;
    width: 100%;
    text-align: left;
  }
  .right-to-left .cart-total+.buttons .pull-right {
    text-align: right;
  }
  .right-to-left .cart-total+.buttons .btn.btn-blue {
    margin-right: 0;
  }
  .cart-total table {
    float: left;
  }
  .right-to-left .cart-total table {
    float: right;
  }
  .checkout .panel .panel-body .left-content {
    margin-right: 0;
    width: 100%;
    margin-bottom: 35px;
  }
  #payment-new .form-control, #shipping-new .form-control, #shipping-existing .form-control, #payment-existing .form-control, #content.col-sm-9 #payment-new .form-control, #content.col-sm-9 #shipping-new .form-control {
    width: 100%;
  }
  .right-to-left .product-info>div>div:first-child {
    float: none;
  }
  .cart-info .table, .wishlist-info .table {
    border: 0 none;
  }
  .cart-info .table thead tr, .wishlist-info .table thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  .cart-info .table td.image, .wishlist-info .table td.image {
    float: left;
    width: 45%;
    margin-bottom: 15px;
  }
  .cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name {
    float: left;
    width: 55%;
    padding-left: 0;
  }
  .cart-info .table tbody tr td.name small {
    display: none;
  }
  .cart-info .table, .wishlist-info .table, .cart-info .table thead, .wishlist-info .table thead, .cart-info .table tbody, .wishlist-info .table tbody, .cart-info .table tr, .wishlist-info .table tr, .cart-info .table td, .wishlist-info .table td {
    display: block
  }
  .cart-info .table tbody tr, .wishlist-info .table tbody tr {
    border: 1px solid #eaeaea;
    padding-bottom: 17px;
  }
  .cart-info .table tbody tr+tr, .wishlist-info .table tbody tr+tr {
    border-top: none;
  }
  .cart-info .table tbody tr td, .wishlist-info .table tbody tr td {
    border: medium none;
    float: none;
    position: relative;
    white-space: normal;
    width: auto;
    padding-bottom: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cart-info .table tbody tr td.quantity .input-group {
    margin: 0;
  }
  .bt-breadcrumb+.row .alert {
    margin-left: 10px;
    margin-right: 10px;
  }
  /*myaccount*/
  .content-login .left {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .content-login .right {
    margin-left: 0
  }
  .register .form-control {
    width: 100%;
  }
  #content.col-sm-6 {
    float: none;
  }
  .bt-video .video-js .vjs-tech {
    height: 100%;
  }
  .cart-module .panel+.panel {
    padding-left: 0;
  }
  .cart-total+.buttons {
    margin-top: 20px;
  }

  #column-left+#content.col-sm-9, .right-to-left .bt-home-page #column-left+#content.col-sm-9 {
    padding-right: 15px;
  }

  .menubar {
    float: none;
    margin-right: 0;
    padding-top: 0;
  }
  .right-to-left .menubar {
    margin-left: 0;
  }
  .boss-new-position .menu {
    display: none;
  }
  .right-to-left .menubar {
    margin-left: 0;
  }
  .open-bt-mobile {
    clear: both;
    color: #666;
    overflow: hidden;
    z-index: 99;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 38px;
    padding: 5px 4px;
    width: 30px;
    height: 30px;
    border: 1px solid #dedede;
    text-align: center;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
  .openNav .open-bt-mobile {
    z-index: 0;
  }
  .right-to-left .open-bt-mobile {
    right: 15px;
    left: auto;
  }
  .open-bt-mobile i {
    font-size: 18px;
    vertical-align: top;
    line-height: 18px;
  }
  .open-bt-mobile:hover {
    color: #4dbeee;
  }
  .openNav #bt_container:before {
    background: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .openNav #bt_container .bt-mobile {
    /*right: 0;*/
    /*left: 0;*/
    z-index: 999;
    transition: transform 500ms ease 0s;
    transform: translate3d(100%, 0px, 0px);
    -moz-transform: translate3d(100%, 0px, 0px);
    -webkit-transform: translate3d(100%, 0px, 0px);
    transition: transform 500ms ease 0s;
    -moz-transition: -moz-transform 500ms ease 0s;
    -webkit-transition: -webkit-transform 500ms ease 0s;
  }
  .closeNav #bt_container .bt-mobile {
    z-index: 999;
    transition: transform 500ms ease 0s;
    transform: translate3d(0%, 0px, 0px);
    -moz-transform: translate3d(0%, 0px, 0px);
    -webkit-transform: translate3d(0%, 0px, 0px);
    transition: transform 500ms ease 0s;
    -moz-transition: -moz-transform 500ms ease 0s;
    -webkit-transition: -webkit-transform 500ms ease 0s;
  }
  .menu_mobile .close-panel {
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 25px;
    z-index: 9999;
    color: #fff;
    display: block;
    cursor: pointer;
  }
  .close-panel i {
    font-size: 22px;
  }
  .close-panel:hover {
    color: #4dbeee
  }
  .mega-menu>ul.nav {
    background: #343434;
  }
  .mega-menu>ul.nav>li {
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #343434;
    border-top: 1px solid #444;
  }
  .mega-menu>ul.nav>li>a {
    border: medium none;
    color: #fff
  }
  .common-home .mega-menu>ul.nav>li>a {
    padding: 11px 20px 13px;
  }
  .mega-menu>ul.nav>li.active>a, .mega-menu>ul.nav>li>a:hover, .mega-menu>ul.nav>li>a:focus, .mega-menu>ul.nav>li:hover>a {
    color: #fff;
  }
  .mega-menu>ul.nav>li>a i {
    display: none;
  }
  .mega-menu>ul.nav>li:hover>a {
    border: medium none;
    border-radius: 0;
  }
  .mega-menu>ul.nav>li.parent:hover>a b {
    background-image: none;
  }
  .mega-menu ul.nav>li.parent>a span.menu-title {
    background: none
  }
  .mega-menu>ul.nav>li p.plus {
    color: #fff;
    cursor: pointer;
    height: 28px;
    margin-top: 0;
    padding-bottom: 1px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 40px;
    font-size: 22px;
    line-height: 24px;
    z-index: 999;
  }
  .mega-menu>ul.nav>li .dropdown {
    border: medium none;
    box-shadow: none;
    margin-left: 0 !important;
    opacity: 1;
    position: static;
    visibility: visible;
    width: 100% !important;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform-origin: top center;
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    display: none;
  }
  .mega-menu>ul.nav>li .dropdown .staticblock {
    padding-left: 10px;
  }
  .mega-menu>ul.nav>li .dropdown ul.column.product li {
    text-align: center;
  }
  .mega-menu>ul.nav>li .dropdown ul.column.product li .name {
    background-position: center bottom;
  }
  .mega-menu>ul.nav>li .dropdown .menu-column {
    width: 100%!important;
    margin-bottom: 10px;
  }
  .mega-menu>ul.nav>li .dropdown ul.column.manufacturer li {
    width: 100%!important;
    text-align: center;
    padding-left: 10px
  }
  .mega-menu>ul.nav>li .dropdown .menu-row ul li .sub_menu {
    display: none
  }
  .mega-menu>ul.nav>li .menu-row .menu-column .staticblock {
    padding-left: 30px
  }
  .mega-menu>ul.nav>li .dropdown .menu-column.row-grid-2:first-child {
    border-right: none;
    padding-bottom: 20px;
  }
  .mega-menu>ul.nav>li:first-child>a, .common-home .mega-menu>ul.nav>li:first-child>a, .mega-menu>ul.nav>li>a {
    padding-left: 20px;
  }
  .mega-menu>ul.nav>li>a, .common-home .mega-menu>ul.nav>li>a {
    padding: 15px 20px;
  }
  .mega-menu .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: none;
    color: #4dbeee;
  }
  .mega-menu>ul.nav>li .dropdown .menu-column {
    padding: 28px 20px 20px;
  }
  .mega-menu>ul.nav>li .menu-row .menu-column .staticblock {
    padding-left: 0;
  }
  .mega-menu>ul.nav>li .dropdown .menu-column.row-grid-2:first-child .staticblock {
    padding-right: 0
  }
  .mega-menu>ul.nav>li .dropdown.drop-grid-6-6 .menu-column ul.column.information {
    padding-top: 0;
  }
  .mega-menu>ul.nav>li .dropdown .menu-row.row-col-6 .menu-column.row-grid-1+.menu-column {
    padding: 28px 20px 20px;
  }
}
