@media only screen and (max-width: 370px) {
  #logo img {
    width: 75%;
  }
  #top, #cart {
    top: 30px;
  }
  .bt-banner-item .bt-banner-title p {
    font-size: 14px;
    line-height: 16px;
  }
  .bt-item-left .bt-banner-title h3 {
    font-size: 30px;
    line-height: 32px;
  }
  .bt-item-left .bt-banner-title h4 {
    margin-bottom: 5px;
  }
  .bt-item-right .bt-banner-title h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .bt-item-right .bt-banner-title p+p {
    margin-bottom: 5px;
  }
  .bt-featured-pro .boss-category-pro .product-categories-box {
    padding: 18px 20px;
  }
  .bt-statickblock-learmore .bt-banner-title {
    bottom: 2%;
    left: 2%;
  }
  .bt-statickblock-learmore .bt-banner-title h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .bt-statickblock-learmore .bt-banner-title p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .boss-blog-featured .box-heading h1, .bt-featured-pro .box-heading h1, .bt-product-category .box-heading h1, .bt-service .box-heading h1 {
    font-size: 14px;
  }
  .product-layout {
    padding: 0 10px;
  }
  .bt-featured-pro.bt-nprolarge-tabs .bt-product-content .bt-item-extra {
    padding-left: 0;
    padding-right: 0;
  }
  .bt-staticblock-shopnow .bt-item-left .bt-banner-title {
    left: 10px;
    top: 10px;
    max-width: 65%;
  }
  .bt-item-left .bt-banner-title h4 {
    font-size: 14px;
    line-height: 16px;
  }
  .bt-featured-pro .box-content .next {
    right: 2px;
  }
  .right-to-left .bt-featured-pro .box-content .next {
    right: auto;
    left: 25px;
  }
  .bt-featured-pro .box-content .prev {
    right: 25px;
  }
  .right-to-left .bt-featured-pro .box-content .prev {
    right: auto;
    left: 2px;
  }
  .bt-featured-pro .box-heading h1 {
    padding-left: 36px;
  }
  .bt-statickblock-learmore {
    display: none;
  }
  .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid {
    margin: 0
  }
  .bt-featured-pro.bt-nprolarge-nslider .box-content .bt-product-grid .element-2, .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .element-2 {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width:380px) {
  .open-bt-mobile {
    top: 30px;
  }
}

@media only screen and (max-width:325px) {
  .open-bt-mobile {
    top: 28px;
    width: 28px;
    height: 28px;
  }
  .open-bt-mobile i {
    line-height: 17px;
  }
}

@media only screen and (max-width: 325px) {
  #logo img {
    width: 70%;
  }
  #cart .dropdown-menu {
    min-width: 300px;
  }
  #cart>.btn, #top #right_top_links .list-inline .dropdown>a {
    height: 28px;
    width: 28px;
  }
  #cart>.btn .fa, #top #right_top_links .list-inline .dropdown a span .fa {
    line-height: 26px;
  }
  #top, #cart {
    top: 28px;
  }
  #cart .dropdown-menu {
    min-width: 280px;
  }
  .bt-mobile .language .btn-group>.btn, .bt-mobile .currency .btn-group>.btn {
    max-width: 120px;
  }
  .bt-staticblock-shopnow .bt-item-right .bt-banner-title {
    top: 10px;
  }
  .bt-block-category .block-title {
    right: 5%;
    top: 8%;
  }
  .bt-block-category .block-title h2 {
    margin-bottom: 7px;
  }
}
