<!-- <a style="width: 75px; height: 75px">

</a> -->
<i *ngIf="isloading" style="position: absolute; top: 40%; margin-left: 45px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
<img src="{{imageURL}}" (load)="loading()" alt="Loading..." style="border-radius: 4px; min-height: 75px; min-width: 75px;  width: 100%;
max-height: 75px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); " title="Loading..." />
