<div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModal">
  <div style="width: 95%; max-width: 900px;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div id="notification"></div>
        <div id="modal-content" *ngIf="product">
          <div class="product-info-qs product-info">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="bt-product-zoom">
                  <div class="image" style="max-height: 420px; min-height: 420px">
                    <a href="{{product.photoUrl}}" title="{{product.title}}" class="cloud-zoom" id="zoomqs" rel="">
                      <img style="display: block;" src="{{product.photoUrl}}" title="{{product.title}}" alt="{{product.title}}" id="image">
                    </a>
                  </div>
                </div>
                <app-product-image-slider [items]="product.photos" (loadImage)="loadImage($event)"></app-product-image-slider>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="product-name">
                  <h1>{{product.title}}</h1>
                </div>
                <div class="description" [innerHTML]="product.description"> </div>
                <div class="price_info"> <span class="price">{{product.price|currency:'VND':'symbol':'.0-3'}}</span> </div>
                <app-add-cart-button [product]="product"></app-add-cart-button>
                <div class="viewdetail"> <a [routerLink]="['/product', product.id]" data-dismiss="modal">Xem chi tiết &gt;&gt;</a> </div>
              </div>

              <!-- /.image-additional -->
            </div>
          </div>
          <!-- /.product-info-qs -->
        </div>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="checkOut">
  <div style="width: 50%; max-width: 700px;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div id="notification"></div>
        <div id="modal-content"  style="text-align: center">
          <h1>Đặt hàng thành công!</h1>
          <h2>Cảm ơn khách hàng đã tin tưởng sử dụng dịch vụ của chúng tôi</h2>
          <h4>Sản phẩm của khách hàng sẽ được giao trong thời gian sớm nhất!</h4>
          <!-- <h4>Cùng</h4> -->
          <hr>
          <div class="buttons">
            <div class="pull-left"><a [routerLink]="['/product']" data-dismiss="modal" class="btn btn-blue">Tiếp tục mua hàng</a>
            </div>
            <div class="pull-right"><a data-dismiss="modal" class="btn btn-gray">Đóng</a>
            </div>
          </div>
          <!-- /.product-info-qs -->
        </div>
      </div>
    </div>
  </div>
</div>
